<section class="d-flex align-items-center justify-content-center py-5">
  <div class="signup_section">
    <div class="d-flex align-items-center justify-content-between">
      <h3 class="fz24 mb-0 semi_font">Sign Up with Email</h3>
      <span class="bold_font">&#10005;</span>
    </div>
    <hr />
    <form class="row g-3">
      <div class="col-md-6">
        <div class="mb_20">
          <label class="form-label">First Name</label>
          <input
            type="text"
            class="form-control custom_form_control"
            placeholder="Enter First Name"
          />
          <div id="emailHelp" class="form-text">
            Make sure it matches the name on your government ID.
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb_20">
          <label class="form-label">Last Name</label>
          <input
            type="text"
            class="form-control custom_form_control"
            placeholder="Enter Last Name"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb_20">
          <label class="form-label">Email</label>
          <input
            type="email"
            class="form-control custom_form_control"
            placeholder="Enter Email"
          />
          <div id="emailHelp" class="form-text">
            We'll email you a reservation confirmation.
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb_20">
          <label class="form-label">Birtday</label>
          <input type="date" class="form-control custom_form_control" />
          <div id="emailHelp" class="form-text">
            To sign up, you need to be at least 18. It won't be shown to others.
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb_20">
          <label class="form-label">Password</label>
          <input
            type="password"
            class="form-control custom_form_control"
            placeholder="Enter Password"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb_20">
          <label class="form-label">Confirm New Password</label>
          <input
            type="password"
            class="form-control custom_form_control"
            placeholder="Enter Password"
          />
        </div>
      </div>
      <div class="col-12">
        <div class="mb-24">
          <p class="text-center fz14">
            By selecting <span class="semi_font">Agree and submit</span> below,
            I agree to app's
            <a href="javascript:void(0);" class="base_blue medium_font"
              ><u>Terms of service</u></a
            >, and
            <a href="javascript:void(0);" class="base_blue medium_font"
              ><u>Payments</u></a
            >.
          </p>
        </div>
      </div>
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="col_selector">
          <button class="btn login_btn mb_20">Agree and submit</button>
          <p class="text-center">
            Don't have an account?
            <a href="javascript:void(0);" class="base_blue"><u>Sign up</u></a>
          </p>
        </div>
      </div>
    </form>
  </div>
</section>
