<section class="kind_of_place price-your-space">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="bg-white">
                    <div class="col_selector bg-white mt-5 p-4">
                        <h3 class="fz30 mb-4 semi_font">Okay, now let's review your settings</h3>
                        <p class="fz15 regular_font">
                            You can also make changes to your listing after you publish.</p>
                    </div>
                    <div class="col_selector bg-white p-4 pt-0">
                        <div class="inner-col">
                            <h5 class="bold_font mb-3">Your listing</h5>
                            <div class="">
                                <!-- <img src="assets/images/herne-img.png" class="img-fluid"> -->
                                <img [src]="coverImage" class="img-fluid">
                            </div>
                            <div class="d-flex justify-content-between mt-3">
                                <h6 class="bold_font"> {{property?.name}} </h6>
                                <a href="" class="blue_color" style="text-decoration: underline;">Preview listing</a>
                            </div>
                            <p> {{property?.type?.property_type}} </p>
                        </div>
                        <hr>
                        <div class="inner-col">
                            <h5 class="bold_font mb-3">Your Settings</h5>
                            <div class="d-flex justify-content-between mt-3">
                                <h6 class="bold_font">Guest requirements</h6>
                                <a href="" class="blue_color" style="text-decoration: underline;">Edit</a>
                            </div>
                            <p>Roomz's base requirements</p>
                            <p>Government-issued ID</p>
                            <p>Recommendation from other hosts</p>
                        </div>
                        <hr>
                        <div class="inner-col">
                            <div class="d-flex justify-content-between mt-3">
                                <h6 class="bold_font">House rules</h6>
                                <a href="" class="blue_color" style="text-decoration: underline;">Edit</a>
                            </div>
                            <p>Suitable for children (2-12)</p>
                            <p>Suitable for infants (under-2)</p>
                            <p>Suitable for pets</p>
                            <p>Smoking allowed</p>
                            <p>Event Allowed</p>
                            <p>Yes</p>
                        </div>
                        <hr>
                        <div class="inner-col">
                            <div class="d-flex justify-content-between mt-3">
                                <h6 class="bold_font">Availability</h6>
                                <a href="" class="blue_color" style="text-decoration: underline;">Edit</a>
                            </div>
                            <p>Advance notice: 1 day</p>
                            <p>future reservations: 6 months</p>
                            <p>Check-in/checkout:12:00 PM/2:00 AM</p>
                            <p>Min night:1</p>
                        </div>
                        <hr>
                        <div class="inner-col">
                            <div class="d-flex justify-content-between mt-3">
                                <h6 class="bold_font">Base price</h6>
                                <a href="" class="blue_color" style="text-decoration: underline;">Edit</a>
                            </div>
                            <p>$50 per night</p>
                            <p>Roomz will deduct a 3% service free from your payout.<br> this helps provide services
                                like payments processing,<br> liability insurance, and 24/7 support.</p>
                        </div>
                        <hr>
                        <div class="inner-col">
                            <div class="d-flex justify-content-between mt-3">
                                <h6 class="bold_font">Additional pricing</h6>
                                <a href="" data-toggle="modal" data-target="#discount-popup" class="blue_color"
                                    style="text-decoration: underline;">Edit</a>
                            </div>
                            <p>Weekly discount: 10%</p>
                            <p>Monthly discount: 12%</p>
                        </div>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between align-items-center mb-5 mt-4 p-4">
                        <a href="javascript:void(0);" class="blue_color d-flex align-items-center"><img
                                src="assets/images/blue-left-arrow.png" class="me-2" alt="" /> Back
                        </a>
                        <button class="btn custom_btn">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- popup  -->
<div class="modal fade" id="discount-popup" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="">
                <h4 class="modal-title" id="myModalLabel">Set up discounts for long-term stays</h4>
                <p>Adding a weekly or monthly discount can help you get longer reservations.
                </p>
                <div class="my-4">
                    <label for="" class="mb-2">Weekly discount (7 days or more)</label>
                    <input class="form-control custom_form_control mb-2 w-75" placeholder="%">

                    <p class="fz14 regular_font mb-0">Your average weekly price will be $350.</p>
                    <p class="blue_color">Use tip: 21%</p>
                </div>
                <div class="my-4">
                    <label for="" class="mb-2">Monthly discount (28 days or more)</label>
                    <input class="form-control custom_form_control mb-2 w-75" placeholder="%">

                    <p class="fz14 regular_font mb-0">Your average monthly price will be $1,520.</p>
                    <p class="blue_color">Use tip: 49%</p>
                </div>
                <div class=" bottom-wrap mt-3">
                    <button class="btn custom_btn">Save</button>
                    <button class="btn custom_btn">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>