.policy-group {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #e8e5e5;
  border-radius: 8px;
}

.ul {
  // list-style-type: circle;
  margin-left: 26px;

  li {
    color: #6c757d;
    ;
  }
}

.label-txt {
  color: #000 !important;
}