<section class="p-3">
  <div class="">
    <div class="d-flex justify-content-between">
      <h3 class="fz24 mb-0 semi_font">&nbsp;</h3>
      <span class="bold_font" style="cursor: pointer" (click)="closeDialog()">&#10005;</span>
    </div>
    <div class="">
      <div class="mb-5">
        <div class="mb-5 mt-5 text-center">
          <img src="assets/images/tick3.png" class="img-fluid" alt="" />
        </div>
        <h3 class="mb_20 bold_font text-center fz24">
          Welcome to Roomz
        </h3>
        <p class="mb_20 text-center fz20">
          Discover the places to stay!
        </p>
        <p class="mb_20 text-center">
          Click to "Continue" butoon for create your <br />
          complete profile.
        </p>
      </div>
      <button class="btn login_btn mb-3" (click)="onContinue()">CONTINUE</button>
    </div>
  </div>
</section>