<section class="heading_progress d-flex align-items-center justify-content-between">
    <h4 class="fz16 medium_font mb-0">Property and guests</h4>
    <p class="fz16 medium_font blue_color mb-0"><a href="">Save</a> and <a href="">Exit</a></p>
</section>
<div class="progress custom_progress">
    <div class="progress-bar" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<section class="kind_of_place">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="col_selector bg-white p-4">
                    <h3 class="fz30 mb-4">What amenities do you offer?</h3>
                    <p>
                        You will be able to add more amenities after you publish your listing.
                    </p>
                    <div class="custom_check mb-4">
                        <div class="form-group">
                            <input type="checkbox" id="html" />
                            <label class="form-check-label fz15" for="html">
                                Wifi
                                <p class="ms-5 fz-12">Available throughout the listing</p>
              </label>
                        </div>
                    </div>
                    <div class="custom_check mb-4">
                        <div class="form-group">
                            <input type="checkbox" id="html2" />
                            <label class="form-check-label fz15" for="html2">
                                TV
              </label>
                        </div>
                    </div>
                    <div class="custom_check mb-4">
                        <div class="form-group">
                            <input type="checkbox" id="html3" />
                            <label class="form-check-label fz15" for="html3">
                                Hot water
              </label>
                        </div>
                    </div>
                    <div class="custom_check mb-4">
                        <div class="form-group">
                            <input type="checkbox" id="html4" />
                            <label class="form-check-label fz15" for="html4"> Air conditioning </label>
                        </div>
                    </div>
                    <div class="custom_check mb-4">
                        <div class="form-group">
                            <input type="checkbox" id="html5" />
                            <label class="form-check-label fz15" for="html5">
                                Shampoo
                        </label>
                        </div>
                    </div>
                    <div class="custom_check mb-4">
                        <div class="form-group">
                            <input type="checkbox" id="html6" checked />
                            <label class="form-check-label fz15" for="html6"> Hair dryer </label>
                        </div>
                    </div>

                    <div class="custom_check mb-4">
                        <div class="form-group">
                            <input type="checkbox" id="html6" />
                            <label class="form-check-label fz15" for="html6"> Dedicated workspace </label>
                        </div>
                    </div>

                    <div class="custom_check mb-4">
                        <div class="form-group">
                            <input type="checkbox" id="html6" />
                            <label class="form-check-label fz15" for="html6"> Cooking basics <p class="ms-5 fz12">Pots and pans, oil, salt and pepper</p></label>

                        </div>
                    </div>

                    <div class="custom_check mb-4">
                        <div class="form-group">
                            <input type="checkbox" id="html6" />
                            <label class="form-check-label fz15" for="html6"> Bathroom essentials 
                                <p class="ms-5 fz12">Towels, soap, shampoo, and toilet paper</p>
                            </label>

                        </div>
                    </div>

                    <div class="custom_check mb-4">
                        <div class="form-group">
                            <input type="checkbox" id="html6" />
                            <label class="form-check-label fz15" for="html6"> Bath towel </label>
                        </div>
                    </div>

                    <div class="custom_check mb-4">
                        <div class="form-group">
                            <input type="checkbox" id="html6" />
                            <label class="form-check-label fz15" for="html6"> Toilet paper </label>
                        </div>
                    </div>

                    <div class="custom_check mb-4">
                        <div class="form-group">
                            <input type="checkbox" id="html6" />
                            <label class="form-check-label fz15" for="html6"> Body soap </label>
                        </div>
                    </div>

                    <div class="custom_check mb-4">
                        <div class="form-group">
                            <input type="checkbox" id="html6" />
                            <label class="form-check-label fz15" for="html6"> Hand soap </label>
                        </div>
                    </div>

                    <div class="custom_check mb-4">
                        <div class="form-group">
                            <input type="checkbox" id="html6" />
                            <label class="form-check-label fz15" for="html6"> Bed linens </label>
                        </div>
                    </div>

                    <div class="custom_check mb-4">
                        <div class="form-group">
                            <input type="checkbox" id="html6" />
                            <label class="form-check-label fz15" for="html6"> Fireplace </label>
                        </div>
                    </div>

                    <div class="custom_check mb-4">
                        <div class="form-group">
                            <input type="checkbox" id="html6" />
                            <label class="form-check-label fz15" for="html6"> Private entrance </label>
                        </div>
                    </div>

                    <div class="safety-wrapper">
                        <h4 class="mb-4">Spaces</h4>
                        <div class="custom_check mb-4">
                            <div class="form-group">
                                <input type="checkbox" id="html3" />
                                <label class="form-check-label fz15" for="html3">
                                    Kitchen
                                  <p class="fz12 ms-5">Space where guests can cook there own meals</p>
                                </label>

                            </div>
                        </div>

                        <div class="custom_check mb-4">
                            <div class="form-group">
                                <input type="checkbox" id="html3" />
                                <label class="form-check-label fz15" for="html3">
                                    Free parking on premises
                              </label>
                            </div>
                        </div>

                        <div class="custom_check mb-4">
                            <div class="form-group">
                                <input type="checkbox" id="html3" />
                                <label class="form-check-label fz15" for="html3">
                                    Washer
                            </label>
                            </div>
                        </div>

                        <div class="custom_check mb-4">
                            <div class="form-group">
                                <input type="checkbox" id="html3" />
                                <label class="form-check-label fz15" for="html3">
                                    Hot tub
                              </label>
                            </div>
                        </div>

                        <div class="custom_check mb-4">
                            <div class="form-group">
                                <input type="checkbox" id="html3" />
                                <label class="form-check-label fz15" for="html3">
                                    Pool
                            </label>
                            </div>
                        </div>

                        <div class="custom_check mb-4">
                            <div class="form-group">
                                <input type="checkbox" id="html3" />
                                <label class="form-check-label fz15" for="html3">
                                    Paid Parking off premises
                            </label>
                            </div>
                        </div>

                    </div>

                    <div class="safety-wrapper">
                        <h4 class="mb-4">Safety amenities</h4>
                        <div class="custom_check mb-4">
                            <div class="form-group">
                                <input type="checkbox" id="html3" />
                                <label class="form-check-label fz15" for="html3">
                                    Smoke alarm
                                  <p class="fz12 ms-5">Check your local laws, which may require a working smoke detector in every room</p>
                                </label>

                            </div>
                        </div>

                        <div class="custom_check mb-4">
                            <div class="form-group">
                                <input type="checkbox" id="html3" />
                                <label class="form-check-label fz15" for="html3">
                                    Carbon monoxide alarm
                                    <p class="fz12 ms-5">Check your local laws, which may require a working carbon monoxide detector in every room</p>
                              </label>

                            </div>
                        </div>

                        <div class="custom_check mb-4">
                            <div class="form-group">
                                <input type="checkbox" id="html3" />
                                <label class="form-check-label fz15" for="html3">
                                    Lock on bedroom door
                                    <p class="fz12 ms-5">Private room can be locked for safety and privacy</p>
                            </label>
                            </div>
                        </div>



                    </div>

                </div>
                <div class="d-flex justify-content-between align-items-center mb-5 mt-0 bg-white back_next_part p-4">
                    <a href="javascript:void(0);" class="blue_color d-flex align-items-center">
                        <img src="assets/images/blue-left-arrow.png" class="me-2" alt="" /> Back
                    </a>
                    <button class="btn custom_btn">Next</button>
                </div>
            </div>
            <div class="col-md-5">
                <div class="col_selector m-5 p-4 bg-white right_side_content">
                    <div class="mb_20">
                        <img src="assets/images/idea.png" alt="" />
                    </div>
                    <h4 class="fz18 medium_font mb_20">Add wifi</h4>
                    <p class="fz14">
                        250% more guests want to stay connected while they travel. If your place has reliable wifi, let them know – it'll help you get booked.
                        <br />
                        <i>Based on recent booking trends in your area</i>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>