<section class="heading_progress d-flex align-items-center justify-content-between">
    <h4 class="fz16 medium_font mb-0">Property and guests</h4>
    <p class="fz16 medium_font blue_color mb-0">Save and Exit</p>
</section>
<div class="progress custom_progress">
    <div class="progress-bar" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<section class="kind_of_place">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="col_selector bg-white p-4">
                    <h3 class="fz30 mb-4">What amenities do you offer?</h3>
                    <p>
                        These are just the amenities guests usually expect, but you can add even more after you publish.
                    </p>
                    <div class="custom_check mb-4">
                        <div class="form-group">
                            <input type="checkbox" id="html" />
                            <label class="form-check-label fz15" for="html">
                Essentials
                <p class="fz12 ms-5">
                  Towels, bed sheets, soap, toilet paper, and pillows
                </p>
              </label>
                        </div>
                    </div>
                    <div class="custom_check mb-4">
                        <div class="form-group">
                            <input type="checkbox" id="html2" />
                            <label class="form-check-label fz15" for="html2">
                Cooking basics
                <p class="fz12 ms-5">Pots and pans, oil, salt and pepper</p>
              </label>
                        </div>
                    </div>
                    <div class="custom_check mb-4">
                        <div class="form-group">
                            <input type="checkbox" id="html3" />
                            <label class="form-check-label fz15" for="html3">
                Desk/workspace
              </label>
                        </div>
                    </div>
                    <div class="custom_check mb-4">
                        <div class="form-group">
                            <input type="checkbox" id="html4" />
                            <label class="form-check-label fz15" for="html4"> Iron </label>
                        </div>
                    </div>
                    <div class="custom_check mb-5">
                        <div class="form-group">
                            <input type="checkbox" id="html5" />
                            <label class="form-check-label fz15" for="html5">
                          Hairdryer
                        </label>
                        </div>
                    </div>
                    <div class="custom_check mb-5">
                        <div class="form-group">
                            <input type="checkbox" id="html6" checked />
                            <label class="form-check-label fz15" for="html6"> Shampoo </label>
                        </div>
                    </div>

                    <div class="custom_check mb-5">
                        <div class="form-group">
                            <input type="checkbox" id="html6" />
                            <label class="form-check-label fz15" for="html6"> Hangers </label>
                        </div>
                    </div>

                    <div class="custom_check mb-5">
                        <div class="form-group">
                            <input type="checkbox" id="html6" />
                            <label class="form-check-label fz15" for="html6"> Shampoo </label>
                        </div>
                    </div>

                    <div class="custom_check mb-5">
                        <div class="form-group">
                            <input type="checkbox" id="html6" />
                            <label class="form-check-label fz15" for="html6"> TV </label>
                        </div>
                    </div>

                    <div class="custom_check mb-5">
                        <div class="form-group">
                            <input type="checkbox" id="html6" />
                            <label class="form-check-label fz15" for="html6"> Heating </label>
                        </div>
                    </div>

                    <div class="custom_check mb-5">
                        <div class="form-group">
                            <input type="checkbox" id="html6" />
                            <label class="form-check-label fz15" for="html6"> Travel cot </label>
                        </div>
                    </div>

                    <div class="custom_check mb-5">
                        <div class="form-group">
                            <input type="checkbox" id="html6" />
                            <label class="form-check-label fz15" for="html6"> Wifi </label>
                        </div>
                    </div>

                    <div class="custom_check mb-5">
                        <div class="form-group">
                            <input type="checkbox" id="html6" />
                            <label class="form-check-label fz15" for="html6"> Breakfast, coffee, tea </label>
                        </div>
                    </div>

                    <div class="custom_check mb-5">
                        <div class="form-group">
                            <input type="checkbox" id="html6" />
                            <label class="form-check-label fz15" for="html6"> Air conditioning </label>
                        </div>
                    </div>

                    <div class="custom_check mb-5">
                        <div class="form-group">
                            <input type="checkbox" id="html6" />
                            <label class="form-check-label fz15" for="html6"> Fireplace </label>
                        </div>
                    </div>

                    <div class="custom_check mb-5">
                        <div class="form-group">
                            <input type="checkbox" id="html6" />
                            <label class="form-check-label fz15" for="html6"> Private entrance </label>
                        </div>
                    </div>

                    <div class="safety-wrapper">
                        <h2>Smoke detector</h2>
                        <div class="custom_check mb-4">
                            <div class="form-group">
                                <input type="checkbox" id="html3" />
                                <label class="form-check-label fz15" for="html3">
                                  Smoke detector
                                </label>
                                <p class="fz12 ms-5">Check your local laws, which may require a working smoke detector in every room.</p>
                            </div>
                        </div>

                        <div class="custom_check mb-4">
                            <div class="form-group">
                                <input type="checkbox" id="html3" />
                                <label class="form-check-label fz15" for="html3">
                                  Carbon monoxide detector
                              </label>
                                <p class="fz12 ms-5">Check your local laws, which may require a working carbon monoxide detector in every room.</p>
                            </div>
                        </div>

                        <div class="custom_check mb-4">
                            <div class="form-group">
                                <input type="checkbox" id="html3" />
                                <label class="form-check-label fz15" for="html3">
                                  First aid kit
                            </label>
                            </div>
                        </div>

                        <div class="custom_check mb-4">
                            <div class="form-group">
                                <input type="checkbox" id="html3" />
                                <label class="form-check-label fz15" for="html3">
                                  Fire extinguisher
                              </label>
                            </div>
                        </div>

                        <div class="custom_check mb-4">
                            <div class="form-group">
                                <input type="checkbox" id="html3" />
                                <label class="form-check-label fz15" for="html3">
                                  Lock on bedroom door
                            </label>
                                <p class="fz12 ms-5">Private room can be locked for safety and privacy</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center mb-5 mt-0 bg-white back_next_part p-4">
                    <a href="javascript:void(0);" class="blue_color d-flex align-items-center">
                        <img src="assets/images/blue-left-arrow.png" class="me-2" alt="" /> Back
                    </a>
                    <button class="btn custom_btn">Next</button>
                </div>
            </div>
            <div class="col-md-5">
                <div class="col_selector m-5 p-4 bg-white right_side_content">
                    <div class="mb_20">
                        <img src="assets/images/idea.png" alt="" />
                    </div>
                    <h4 class="fz18 medium_font mb_20">Add wifi</h4>
                    <p class="fz14">
                        250% more guests want to stay connected while they travel. If your place has reliable wifi, let them know – it'll help you get booked.
                        <br />
                        <i>Based on recent booking trends in your area</i>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>