.form-control:focus {
  box-shadow: none;
}

// .banner_section{
/*background-image: url('../images/banner.png');*/
/*background-repeat: no-repeat;*/
/*height: 530px;*/
// }

.banner_section .carousel-caption {
  width: 100%;
  left: 0;
  right: 0;
  top: 96px;
  bottom: 0;
  padding: 0;
}

.banner_section .nav-link {
  color: #fff !important;
  padding-left: 17.5px;
  padding-right: 17.5px;
}

.book_room {
  background-color: #07070770;
  padding: 21px 20px 34px;
  border-radius: 7px;
}

.book_room .btn {
  background-color: #f9537b;
  color: #fff;
}

.banner_section .carousel-control-next,
.banner_section .carousel-control-prev {
  width: 2%;
}

.banner_section .carousel-control-next > span,
.banner_section .carousel-control-prev > span {
  background-color: #707070;
  width: 40px;
  height: 60px;
}

::ng-deep .mat-dialog-container {
  padding: 0% !important;
  border-radius: 7px !important;
  &::-webkit-scrollbar{
    width: 2px !important;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
}

.profile-box{
  display: flex;
  justify-content: center;
  img{
    height: 80px;
    width: 80px;
    border-radius: 100%;
  }
  &:hover{
    background-color: inherit !important;
  }
}

.user-name{
  &:hover{
    background-color: inherit;
  }
}
.logout{
  cursor: pointer;
}

