<section
  class="heading_progress d-flex align-items-center justify-content-between"
>
  <h4 class="fz16 medium_font mb-0">Property and guests</h4>
  <p class="fz16 medium_font blue_color mb-0">Save and Exit</p>
</section>
<div class="progress custom_progress">
  <div
    class="progress-bar"
    role="progressbar"
    style="width: 40%"
    aria-valuenow="40"
    aria-valuemin="0"
    aria-valuemax="100"
  ></div>
</div>
<section class="kind_of_place">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="bg-white">
          <div class="col_selector p-4">
            <h3 class="fz30 mb-4">Review Roomz’s guest requirements</h3>
            <p class="medium_font mb-5 text-secondary">
              Roomz has requirements that all guests must meet before they book.
            </p>
            <div class="mb-4">
              <h4 class="fz18 medium_font mb-3">
                All Roomz guests must provide:
              </h4>
              <ul class="list-unstyled">
                <li class="mb-3">
                  <img src="assets/images/tick.png" class="me-2" alt="" /> Email
                  address
                </li>
                <li class="mb-3">
                  <img src="assets/images/tick.png" class="me-2" alt="" />
                  Confirmed phone number
                </li>
                <li class="mb-3">
                  <img src="assets/images/tick.png" class="me-2" alt="" />
                  Payment information
                </li>
              </ul>
            </div>
            <div class="">
              <h4 class="fz18 medium_font mb-3">
                Before booking your home, each guest must:
              </h4>
              <ul class="list-unstyled">
                <li class="mb-3">
                  <img src="assets/images/tick.png" class="me-2" alt="" /> Agree
                  to your House Rules
                </li>
                <li class="mb-3">
                  <img src="assets/images/tick.png" class="me-2" alt="" />
                  Message you about their trip
                </li>
                <li class="mb-3">
                  <img src="assets/images/tick.png" class="me-2" alt="" />
                  Let you know how many guests are coming
                </li>
                <li class="mb-3">
                  <img src="assets/images/tick.png" class="me-2" alt="" />
                  Confirm their check-in time if they’re arriving within 2 days
                </li>
              </ul>
            </div>
          </div>
          <hr />
          <div class="mb-4 p-4">
            <h4 class="fz18 medium_font mb-3">Add additional requirements</h4>
            <div class="form-check mb-4">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheckChecked"
                checked
              />
              <label class="form-check-label fz15" for="flexCheckChecked">
                Government-issued ID submitted to Roomz
              </label>
            </div>
            <div class="form-check mb-4">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheckChecked"
              />
              <label class="form-check-label fz15" for="flexCheckChecked">
                Recommended by other hosts and have no negative reviews
              </label>
            </div>
            <p class="medium_font text-secondary">
              Recommended by other hosts and have no negative reviews
            </p>
          </div>
          <hr />
          <div
            class="d-flex justify-content-between align-items-center mb-5 mt-4 p-4"
          >
            <a
              href="javascript:void(0);"
              class="blue_color d-flex align-items-center"
              ><img
                src="assets/images/blue-left-arrow.png"
                class="me-2"
                alt=""
              />
              Back</a
            >
            <button class="btn custom_btn">Next</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
