<section class="border-bottom py-3 hosting_header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="col_selector">
          <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid px-0">
              <a class="navbar-brand" href="#">
                <img src="assets/images/logo-new.png" alt="" />
              </a>
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"
                      >BOOKING</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">INBOX</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">CALENDAR</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">LISTING</a>
                  </li>
                </ul>
                <div class="d-flex align-items-center justify-content-end">
                  <div class="me-2">
                    <img
                      src="assets/images/profile2121.png"
                      alt=""
                      width="42"
                    />
                  </div>
                  <div>
                    <img src="assets/images/menu.png" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="col_selector">
          <div class="d-flex align-items-center justify-content-between py-4">
            <h2 class="fz34 mb-0 bold_font">Listings</h2>
            <button
              class="btn border border rounded-pill py-2 px-5 h-auto d-flex align-items-center"
            >
              <img src="assets/images/plus.png" class="me-3" alt="" />
              Create Listing
            </button>
          </div>
          <div class="d-flex align-items-center mb-4">
            <div class="me-3">
              <input
                type="text"
                class="form-control rounded-pill"
                placeholder="Rooms and Beds"
              />
            </div>
            <div>
              <select name="" id="" class="form-control">
                <option value="">1</option>
                <option value="">1</option>
                <option value="">1</option>
                <option value="">1</option>
              </select>
            </div>
          </div>
          <div>
            <table class="table">
              <!-- <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">Handle</th>
                </tr>
              </thead> -->
              <tbody>
                <tr>
                  <td>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                      />
                    </div>
                  </td>
                  <td>Listing</td>
                  <td>Status</td>
                  <td>To Do</td>
                  <td>Instant Book</td>
                  <td>Bedrooms</td>
                  <td>Beds</td>
                  <td>Baths</td>
                  <td>Location</td>
                  <td>Last Modified</td>
                </tr>
                <tr class="align-items-center">
                  <td>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                      />
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <img
                        src="assets/images/card-carousal-3.png"
                        class="img-fluid rounded"
                        width="60"
                        alt=""
                      />
                      <span class="fz14 ms-3"
                        >Private room in United state</span
                      >
                    </div>
                  </td>
                  <td class="text-center">In Progress</td>
                  <td class="text-center">
                    <button
                      type="button"
                      class="btn btn-outline-secondary rounded-pill fz14"
                    >
                      Publish
                    </button>
                  </td>
                  <td class="text-center">
                    <div>
                      <img src="assets/images/green-check.png" alt="" /> on
                    </div>
                  </td>
                  <td class="text-center">0</td>
                  <td class="text-center">1</td>
                  <td class="text-center">2</td>
                  <td class="text-center">Delhi</td>
                  <td class="text-center">May 14, 2021</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
