<section class="explore_destination">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="col_selector">
          <h2 class="heading_text semi_font">Explore destinations near you</h2>
        </div>
      </div>
      <div class="col-md-4">
        <div class="col_selector">
          <div class="d-flex align-items-center p-3 bg-white rounded mb-3 me-5">
            <div class="me-3">
              <img
                src="assets/images/explore-img-1.png"
                class="rounded"
                alt=""
              />
            </div>
            <div>
              <h3 class="fz20 mb-0 semi_font">Noida</h3>
              <p class="fz15 medium_font mb-0">6 hour drive</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="col_selector">
          <div class="d-flex align-items-center p-3 bg-white rounded mb-3 me-5">
            <div class="me-3">
              <img
                src="assets/images/explore-img-1.png"
                class="rounded"
                alt=""
              />
            </div>
            <div>
              <h3 class="fz20 mb-0 semi_font">Lucknow</h3>
              <p class="fz15 medium_font mb-0">5 hour drive</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="col_selector">
          <div class="d-flex align-items-center p-3 bg-white rounded mb-3 me-5">
            <div class="me-3">
              <img
                src="assets/images/explore-img-1.png"
                class="rounded"
                alt=""
              />
            </div>
            <div>
              <h3 class="fz20 mb-0 semi_font">Dehradun</h3>
              <p class="fz15 medium_font mb-0">10 hour drive</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="col_selector">
          <div class="d-flex align-items-center p-3 bg-white rounded mb-3 me-5">
            <div class="me-3">
              <img
                src="assets/images/explore-img-1.png"
                class="rounded"
                alt=""
              />
            </div>
            <div>
              <h3 class="fz20 mb-0 semi_font">Noida</h3>
              <p class="fz15 medium_font mb-0">6 hour drive</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="col_selector">
          <div class="d-flex align-items-center p-3 bg-white rounded mb-3 me-5">
            <div class="me-3">
              <img
                src="assets/images/explore-img-1.png"
                class="rounded"
                alt=""
              />
            </div>
            <div>
              <h3 class="fz20 mb-0 semi_font">Noida</h3>
              <p class="fz15 medium_font mb-0">6 hour drive</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="col_selector">
          <div class="d-flex align-items-center p-3 bg-white rounded mb-3 me-5">
            <div class="me-3">
              <img
                src="assets/images/explore-img-1.png"
                class="rounded"
                alt=""
              />
            </div>
            <div>
              <h3 class="fz20 mb-0 semi_font">Noida</h3>
              <p class="fz15 medium_font mb-0">6 hour drive</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
