<section class="heading_progress d-flex align-items-center justify-content-between">
    <h4 class="fz16 medium_font mb-0">Property and guests</h4>
    <p class="fz16 medium_font blue_color mb-0"><a href="">Save</a> and <a href="">Exit</a></p>
</section>
<div class="progress custom_progress">
    <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<section class="kind_of_place price-your-space">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="bg-white">
                    <div class="col_selector bg-white mt-5 p-4">
                        <div class="py-5">
                            <img src="assets/images/roomz-logo.png">
                        </div>
                        <h3 class="fz30 mb-4 semi_font">You are ready to publish!</h3>
                        <p class="fz15 regular_font mb-0">
                            You will be able to welcome your first guest starting may 18,2021.</p>
                        <p> if you'd like to update your calendar or house rules, you can easily do all that after you hit publish. </p>
                    </div>
                    <div class=" bottom-wrap p-4 pb-5 publish-btn-wrap mb-5">
                        <p><button class="btn custom_btn bg-pink">Save</button></p>
                        <p><button class="btn custom_btn">Cancel</button></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>