<section class="kind_of_place">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="col_selector bg-white p-4">
          <h3 class="fz30 mb-4">Which of these sounds most like your place?</h3>
          <div class="form-group w-75">
            <label for="" class="fz18 medium_font mb-3">Choose a property type</label>
            <select class="form-select custom_form_control" aria-label="Default select example"
              (change)="onSelectPropertyType($event.target.value)">
              <option *ngFor="let type of propertyTypes" [value]="type.id" [selected]="type.id == selectedPropertyType">
                {{ type.property_type | titlecase }}
              </option>
            </select>
            <p class="fz14 regular_font mb-5 mt-2">
              Typically located in multi-unit residential buildings or complexes
              where other people live
            </p>
          </div>


          <div class="form-group w-75 property-area">
            <label for="" class="fz18 medium_font mb-3">
              Property Area
            </label>
            <input type="text" name="" class="form-control custom_form_control" placeholder="eg 200" [formControl]="propertyArea"
              oninput="this.value=this.value.replace(/\D/g,'')" />
            <p class="area-hint"><small>in sq.ft</small></p>
            <small class="text-danger" *ngIf="propertyArea.touched && propertyArea.errors?.required">Property area is required.</small>
          </div>

          <div class="custom_check mb-4" *ngIf="isBeachHouseShow">
            <br>
            <br>
            <div class="form-group d-flex align-items-center">
              <input type="checkbox" id="beachHouse" name="beachHouse" (change)="isBeachHouse = !isBeachHouse"
                [checked]="isBeachHouse" />
              <label class="form-check-label fz15 mb-0" for="beachHouse">
                is this a beach house
              </label>
            </div>
          </div>

          <div class="mb-5">
            <p class="fz18 medium_font">
              Is this set up as a dedicated guest space?
            </p>
            <div class="custom_check circle_check mb-4">
              <div class="form-group">
                <input type="radio" id="isDedicatedSpace1" name="isDedicatedSpace"
                  (change)="onDedicatedGuestSpace(true)" [checked]="isDedicatedGuestsSpace" />
                <label class="form-check-label fz15" for="isDedicatedSpace1">
                  Yes, it’s primarily set up for guests
                </label>
              </div>
            </div>
            <div class="custom_check circle_check mb-4">
              <div class="form-group">
                <input type="radio" id="isDedicatedSpace0" name="isDedicatedSpace"
                  (change)="onDedicatedGuestSpace(false)" [checked]="!isDedicatedGuestsSpace" />
                <label class="form-check-label fz15" for="isDedicatedSpace0">
                  No, I keep my personal belongings here
                </label>
              </div>
            </div>
          </div>
          <div class="mb-4">
            <p class="fz18 medium_font">Which best describes how you host?</p>
            <div class="custom_check circle_check mb-4">
              <div class="form-group">
                <input type="radio" id="isPrivateIndividual0" name="hostType" [checked]="!isHostPrivate"
                  (change)="isHostPrivate = false" />
                <label class="form-check-label fz15" for="isPrivateIndividual0">
                  I’m hosting as part of a business
                  <p class="fz14 regular_font mb-3 ms-0">
                    You’re typically a business if hosting on Roomz is your
                    primary profession or source of income, or if you’re part of
                    an established business, such as a boutique hotel or
                    property management company.
                  </p>
                  <p class="fz14 regular_font mb-3 ms-0">
                    Are you based in the European Economic Area (EEA)? To comply
                    with your legal obligations as a business, please fill in
                    the business details section in your account after you
                    publish your listing.
                  </p>
                </label>
              </div>
            </div>
            <div class="custom_check circle_check mb-4">
              <div class="form-group">
                <input type="radio" id="isPrivateIndividual1" name="hostType" [checked]="isHostPrivate"
                  (change)="isHostPrivate = true" />
                <label class="form-check-label fz15" for="isPrivateIndividual1">
                  I’m hosting as a private individual
                  <p class="fz14 regular_font mb-3 ms-0">
                    You’re typically a private individual if hosting on Roomz
                    isn’t your primary profession or source of income.
                  </p>
                </label>
              </div>
            </div>
          </div>
          <div class="mb-5">
            <p class="fz14 regular_font text-secondary">
              This information helps you get the right features for how you host
              and helps Roomz comply with consumer protection laws.
              <a href="javascript:void(0);" class="blue_color fz14 regular_font"><u>Learn more</u></a>
            </p>
          </div>
        </div>
        <div class="d-flex justify-content-between align-items-center mb-5 p-4 mt-0 back_next_part bg-white">
          <a *ngIf="!encryptedPropertyId" href="javascript:void(0);"
            class="blue_color d-flex align-items-center medium_font fz18" routerLink="{{ startRoute.url }}">
            <img src="assets/images/blue-left-arrow.png" class="me-2 mb-1" alt="" />
            Back</a>
          <a *ngIf="encryptedPropertyId" href="javascript:void(0);"
            class="blue_color d-flex align-items-center medium_font fz18"
            [routerLink]="[startRoute.url, encryptedPropertyId]">
            <img src="assets/images/blue-left-arrow.png" class="me-2 mb-1" alt="" />
            Back</a>
          <button class="btn custom_btn semi_font fz18" *ngIf="!isNextLoading" (click)="addPropertyTypes()" [disabled]="propertyArea.invalid">
            Next
          </button>
          <button class="btn custom_btn semi_font fz18" *ngIf="isNextLoading">
            Next
            <div *ngIf="!isSavingExit" class="spinner-border text-info spinner-border-sm"></div>
          </button>
        </div>
      </div>
      <div class="col-md-5">
        <div class="col_selector p-4 mx-4 bg-white right_side_content box_shadow">
          <div class="mb_20">
            <img src="assets/images/idea.png" alt="" />
          </div>
          <h4 class="fz18 medium_font mb_20">Choosing listing categories</h4>
          <p>
            Selecting accurate categories helps guests know what to expect when
            it comes to the privacy, style, and level of service they'll receive
            during their stay at your place.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>