<section class="student_section">
  <div class="container">
    <div class="">
      <div class="col-9">
        <div class="col_selector">
          <h3 class="fz30 medium_font mb-3">Student Accommodation</h3>
          <p class="fz15 mb-4">
            Homestays provide a truly affordable and safe way to stay, when
            learning a new language, studying abroad on Erasmus or doing an
            internship. Our secure online booking system, complete with reviews
            gives you peace of mind that your accommodation is now sorted.
          </p>
          <button class="btn border fz13 rounded-0 text-white text-uppercase">
            Read Student Stories
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
