<div>
  <div class="p-3 pb-0">
    <div class="d-flex align-items-center justify-content-between">
      <h2 class="fz22 semi_font">House rules</h2>
      <button type="button" class="btn close fz20 me-0 pe-0 font-weight-bold" (click)="closeDialog()">
        <img src="assets/images/cross.png" alt="" />
      </button>
    </div>
  </div>
  <hr />
  <div class="p-3 pb-0">
    <div>
      <p class="fz15 medium_font d-flex align-items-center mb-1">
        <img src="assets/images/clock.webp" class="me-2 mb-1" width="15" alt="" />
        Check-in: {{data.checkIn|formatTime}}
      </p>
      <p class="fz15 medium_font d-flex align-items-center mb-1">
        <img src="assets/images/clock.webp" class="me-2 mb-1" width="15" alt="" />
        Check out: {{data.checkOut|formatTime}}
      </p>
      <ng-container *ngFor="let rule of rules">
        <!-- <p class="fz15 medium_font d-flex align-items-center mb-1">
          <img
            src="assets/images/clock.webp"
            class="me-2 mb-1"
            width="15"
            alt=""
          />
          Pets are allowed
        </p> -->
        <p class="fz15 medium_font d-flex align-items-center">
          <img src="assets/images/clock.webp" class="me-2 mb-1" width="15" alt="" />
          {{rule?.rule?.rule}}
        </p>
      </ng-container>

      <!-- <ng-container *ngIf="expandedHouseRules">
                <ng-container *ngFor="let rule of property?.rules">
                  <div class="mb1 fz14" *ngIf="!rule.is_additional">
                    {{rule?.rule?.rule}}
                    <p *ngIf="rule?.is_cancelled" class="mb1 fz14">
                      {{rule.cancel_reason}}
                    </p>
                  </div>
                  <p class="mb1 fz14" *ngIf="rule.is_additional">
                    {{rule?.description}}
                  </p>
                </ng-container>
              </ng-container> -->
    </div>
    <p class="fz19 semi_font" *ngIf="additionalRules?.length">Additional rules</p>
    <div>
      <ng-container *ngFor="let ar of additionalRules">
        <p class="fz15 medium_font mb-0">
          {{ar?.description}}
        </p>
      </ng-container>
      <!-- <p class="fz15 medium_font mb-4">
        Additional fees is applicable for additional guests. Maximum occupancy
        is 6 guests. No charge for infants.
      </p>
      <p class="fz15 medium_font mb-4">
        Visitors: No Visitors are allowed. The access to the property is an
        exclusive privilege of registered Roomz guests only.
      </p>
      <p class="fz15 medium_font mb-0">
        RT-PCR negative test report or Proof of Both shots of Vaccinations at
        the time of check-in:
      </p>
      <p class="fz15 medium_font mb-4">
        In our endeavour to provide clean, hygienic, and safe accommodation to
        our guests, we require negative RT-PCR test reports, not older than 72
        hours or a proof of both shots of vaccination from all guests.
      </p>
      <p class="fz15 medium_font">
        Smoking: Smoking is possible only in the open air terrace garden area of
        the patio. Rest of the property is completely no smoking zone.
      </p> -->
    </div>
  </div>
</div>