<section class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="col_selector text-center">
          <div class="mb-3">
            <img src="assets/images/doller.png" alt="" />
          </div>
          <h3 class="fz28 medium_font mb-3">True value</h3>
          <p class="fz15 medium_font">
            Offering quality and affordability, homestays are a great value
            accommodation option for short or long term stays.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="col_selector text-center">
          <div class="mb-3">
            <img src="assets/images/home.png" alt="" />
          </div>
          <h3 class="fz28 medium_font mb-3">Real Homes</h3>
          <p class="fz15 medium_font">
            Every home has a host present and they do more than just hand over
            keys. They'll help you settle into life in a new place.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="col_selector text-center">
          <div class="mb-3">
            <img src="assets/images/msg.png" alt="" />
          </div>
          <h3 class="fz28 medium_font mb-3">Real Connections</h3>
          <p class="fz15 medium_font">
            Use our helpful features to find the perfect host family. Whether
            you want to borrow a bike or have full access to the kitchen we've
            the right room for your stay.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
