<section class="heading_progress d-flex align-items-center justify-content-between">
    <h4 class="fz16 medium_font mb-0">Calendar and availability</h4>
    <p class="fz16 medium_font blue_color mb-0"><a href="">Save</a> and <a href="">Exit</a></p>
</section>
<div class="progress custom_progress">
    <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<section class="kind_of_place">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="bg-white">
                    <div class="col_selector p-4">
                        <h3 class="fz30 mb-4 semi_font">
                            Successful hosting starts with an accurate calendar
                        </h3>
                        <p class="regular_font fz15 mb-4 text-secondary">
                            Guests will book available days instantly. Only get booked when you can host by keeping your calendar and availability settings up to date.
                        </p>
                        <p class="regular_font fz15 mb-5 text-secondary">
                            Cancelling disrupts guests’ plans. If you cancel because your calendar is inaccurate, you’ll be charged a penalty fee and the dates won’t be available for anyone else to book.
                        </p>
                        <div class="custom_check mb-4">
                            <div class="form-group">
                                <input type="checkbox" id="html" checked />
                                <label class="form-check-label fz15" for="html">
                  Got it! I’ll keep my calendar up to date.
                </label>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="d-flex justify-content-between align-items-center mb-5 mt-4 p-4">
                        <a href="javascript:void(0);" class="blue_color d-flex align-items-center"><img src="assets/images/blue-left-arrow.png" class="me-2" alt="" /> Back
                        </a>
                        <button class="btn custom_btn">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>