<div class="modal-body p-0">
    <section class="p-3">
        <div class="">
            <div class="text-center">
                <!-- <span class="bold_font" style="cursor: pointer; float: left"
>&#10005;</span
> -->
                <img src="assets/images/chevron-left.svg" alt="" style="cursor: pointer; float: left" class="mt-1"
                    (click)="onBack()" />
                <h3 class="fz24 mb-0 semi_font"> {{checkEmailResponse?.message}} </h3>
            </div>
            <hr />
            <div class="">
                <div class="mb-5 mt-4">
                    <div class="mb-4 mt-5 text-center">
                        <img src="assets/images/profile2121.png" class="img-fluid" alt="" />
                    </div>
                    <div>
                        <p class="text-center">
                            <a href="javascript:void(0);" class="btn mb-2">
                                {{checkEmailResponse?.email}}
                            </a>
                        </p>
                        <form [formGroup]="passwordForm">
                            <div class="mb-4">
                                <label>
                                    {{'login.welcomeBack.password'|langTranslate}}
                                </label>
                                <div class="password-box">
                                    <input [type]="passwordVisible?'text':'password'" formControlName="password"
                                        class="form-control custom_form_control"
                                        placeholder="{{'login.welcomeBack.passwordPlaceholder'|langTranslate}}" id="" />
                                    <button type="button" mat-icon-button (click)="passwordVisible =! passwordVisible">
                                        <mat-icon>
                                            {{passwordVisible?'visibility_off':'visibility'}}
                                        </mat-icon>
                                    </button>
                                </div>
                                <small class="text-danger" *ngIf="passwordForm.controls.password.touched">
                                    {{passwordForm.controls.password.errors|validateError:
                                    ('login.welcomeBack.password'|langTranslate)}}
                                </small>
                                <small class="text-danger" *ngIf="passwordForm.controls.password.touched
&& passwordForm.controls.password?.errors?.pattern
&& !passwordForm.controls.password?.errors?.minlength
&& !passwordForm.controls.password?.errors?.maxlength">
                                    {{'login.welcomeBack.passwordPatternErrorMessage'|langTranslate}}
                                </small>
                            </div>
                            <div>
                                <button type="submit" *ngIf="!isSubmitting" class="btn login_btn mb_20"
                                    (click)="onSubmit()" [disabled]="passwordForm.invalid">
                                    {{'login.welcomeBack.loginBtnText'|langTranslate}}
                                </button>

                                <button *ngIf="isSubmitting" class="btn login_btn">
                                    {{'login.welcomeBack.loginBtnText'|langTranslate}}
                                    <div class="spinner-border text-info spinner-border-sm"></div>
                                </button>
                            </div>
                        </form>
                        <p class="text-center mt-4">
                            <a href="javascript:void(0);" class="text-primary mb_20"><u>
                                    {{'login.welcomeBack.forgotPassword'|langTranslate}}
                                </u></a>
                        </p>
                        <p class="text-center mt-4">
                            {{'login.welcomeBack.notYet'|langTranslate}}
                            <a href="javascript:void(0);" class="text-primary mb_20" (click)="onBack()">
                                <u>
                                    {{'login.welcomeBack.loginWithAnother'|langTranslate}}
                                </u>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>