<section
  class="heading_progress d-flex align-items-center justify-content-between"
>
  <h4 class="fz16 medium_font mb-0">Property and guests</h4>
  <p class="fz16 medium_font blue_color mb-0">Save and Exit</p>
</section>
<div class="progress custom_progress">
  <div
    class="progress-bar"
    role="progressbar"
    style="width: 40%"
    aria-valuenow="40"
    aria-valuemin="0"
    aria-valuemax="100"
  ></div>
</div>
<section class="kind_of_place">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="bg-white">
          <div class="col_selector p-4">
            <h3 class="fz30 mb-4 semi_font">
              How much notice do you need before a guest arrives?
            </h3>
            <div class="mb-5">
              <div class="custom_check circle_check mb-4">
                <div class="form-group">
                  <input type="checkbox" id="html" checked />
                  <label class="form-check-label fz15" for="html">
                    Same day
                  </label>
                </div>
              </div>
              <div class="custom_check circle_check mb-4">
                <div class="form-group">
                  <input type="checkbox" id="html2" />
                  <label class="form-check-label fz15" for="html2">
                    1 day
                  </label>
                </div>
              </div>
              <div class="custom_check circle_check mb-4">
                <div class="form-group">
                  <input type="checkbox" id="html3" />
                  <label class="form-check-label fz15" for="html3">
                    2 day
                  </label>
                </div>
              </div>
              <div class="custom_check circle_check mb-4">
                <div class="form-group">
                  <input type="checkbox" id="html3" />
                  <label class="form-check-label fz15" for="html3">
                    3 day
                  </label>
                </div>
              </div>
              <div class="custom_check circle_check mb-4">
                <div class="form-group">
                  <input type="checkbox" id="html4" />
                  <label class="form-check-label fz15" for="html4">
                    7 day
                  </label>
                </div>
              </div>
            </div>
            <hr />
            <div class="mb-5">
              <h5 class="fz18 mb_20 semi_font">When can guests check in?</h5>
              <div class="row">
                <div class="col-6">
                  <div class="col_selector">
                    <label for="">From:</label>
                    <select
                      class="form-select custom_form_control"
                      aria-label="Default select example"
                    >
                      <option selected>Select a Time</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                  </div>
                </div>
                <div class="col-6">
                  <div class="col_selector">
                    <label for="">To:</label>
                    <select
                      class="form-select custom_form_control"
                      aria-label="Default select example"
                    >
                      <option selected>Select a Time</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr />
          <div
            class="d-flex justify-content-between align-items-center mb-5 mt-4 p-4"
          >
            <a
              href="javascript:void(0);"
              class="blue_color d-flex align-items-center"
              ><img
                src="assets/images/blue-left-arrow.png"
                class="me-2"
                alt=""
              />
              Back</a
            >
            <button class="btn custom_btn">Next</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
