<section class="kind_of_place">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="bg-white">
                    <div class="col_selector p-4">
                        <h3 class="fz30 mb-4 semi_font">
                            How much notice do you need before a guest arrives?
                        </h3>
                        <form [formGroup]="checkInQuesForm">
                            <div class="mb-5">
                                <div class="custom_check circle_check mb-4" *ngFor="let ngb of noticeGuestBa">
                                    <div class="form-group">
                                        <input type="radio" [id]="ngb.value" [value]="ngb.value"
                                            formControlName="notice_guest_ba">
                                        <label class="form-check-label fz15" [for]="ngb.value">
                                            {{ngb.display}}
                                        </label>
                                    </div>
                                </div>
                                <!-- <div class="custom_check circle_check mb-4">
                                <div class="form-group">
                                    <input type="checkbox" id="html2" />
                                    <label class="form-check-label fz15" for="html2">
                                        1 day
                                    </label>
                                </div>
                            </div>
                            <div class="custom_check circle_check mb-4">
                                <div class="form-group">
                                    <input type="checkbox" id="html3" />
                                    <label class="form-check-label fz15" for="html3">
                                        2 day
                                    </label>
                                </div>
                            </div>
                            <div class="custom_check circle_check mb-4">
                                <div class="form-group">
                                    <input type="checkbox" id="html3" />
                                    <label class="form-check-label fz15" for="html3">
                                        3 day
                                    </label>
                                </div>
                            </div>
                            <div class="custom_check circle_check mb-4">
                                <div class="form-group">
                                    <input type="checkbox" id="html4" />
                                    <label class="form-check-label fz15" for="html4">
                                        7 day
                                    </label>
                                </div>
                            </div> -->
                            </div>
                            <hr />
                            <div class="mb-5">
                                <h5 class="fz18 mb_20 semi_font">When can guests check in?</h5>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="col_selector">
                                            <label for="">From:</label>
                                            <select class="form-select custom_form_control"
                                                aria-label="Default select example" formControlName="guest_ci_from">
                                                <option *ngFor="let time of checkIns" [value]="time">
                                                    {{time|formatTime}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="col_selector">
                                            <label for="">To:</label>
                                            <select class="form-select custom_form_control"
                                                aria-label="Default select example" formControlName="guest_ci_to">
                                                <option *ngFor="let time of checkIns" [value]="time">
                                                    {{time|formatTime}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- <hr />
                    <div class="d-flex justify-content-between align-items-center mb-5 mt-4 p-4">
                        <a href="javascript:void(0);" class="blue_color d-flex align-items-center"><img
                                src="assets/images/blue-left-arrow.png" class="me-2" alt="" /> Back
                        </a>
                        <button class="btn custom_btn">Next</button>
                    </div> -->

                    <div class="d-flex justify-content-between align-items-center mb-5 p-4 mt-0 back_next_part">
                        <a href="javascript:void(0);" class="blue_color d-flex align-items-center"
                            [routerLink]="[step19Route.url, encryptedPropertyId]">
                            <img src="assets/images/blue-left-arrow.png" class="me-2" alt="" /> Back
                        </a>
                        <button class="btn custom_btn" *ngIf="!isNextLoading" (click)="addPropertyQuestions()">
                            Next
                        </button>
                        <button class="btn custom_btn" *ngIf="isNextLoading">
                            Next
                            <div *ngIf="!isSavingExit" class="spinner-border text-info spinner-border-sm"></div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>