<section
  class="heading_progress d-flex align-items-center justify-content-between"
>
  <h4 class="fz16 medium_font mb-0">Calendar and availability</h4>
  <p class="fz16 medium_font blue_color mb-0">
    <a href="">Save</a> and <a href="">Exit</a>
  </p>
</section>
<div class="progress custom_progress">
  <div
    class="progress-bar"
    role="progressbar"
    style="width: 40%"
    aria-valuenow="40"
    aria-valuemin="0"
    aria-valuemax="100"
  ></div>
</div>
<section class="kind_of_place price-your-space">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="bg-white">
          <div class="col_selector bg-white mt-5 p-4">
            <h3 class="fz30 mb-4 semi_font">Manage your calendar</h3>
            <p class="fz15 regular_font mb-0">
              Select Dates to block or unblock.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
