<div class="host-header">
  <app-progress-bar></app-progress-bar>
</div>
<div class="host-content">
  <router-outlet></router-outlet>
</div>
<!-- <section class="setp_one_section">
  <img src="assets/images/step_1_img.png" alt="" class="img-fluid step_1_img" /> -->
  <!-- <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="col_selector mb-5">
                    <p class="mb-5 base_color bold_font">STEP 1</p>
                    <h2 class="fz35 mb-5 medium_font">
                        Hi, Ankesh! Let’s get started listing your space.
                    </h2>
                    <div class="form-group mb-4">
                        <label for="" class="mb-3 medium_font">Where’s your place located?</label
            >
            <input
              type="text"
              class="form-control custom_form_control"
              placeholder="Enter Property Address"
            />
                    </div>
                    <div class="form-group mb-4">
                      <label for="" class="mb-3 medium_font"
                        >Flat, suite (optional)</label
                      >
                      <input
                        type="text"
                        class="form-control custom_form_control"
                        placeholder="Enter Flat, suite"
                      />
                    </div>
                    <div>
                      <button class="btn custom_btn semi_font">Continue</button>
                    </div>
                </div>
              </div>
          </div>
  </div> -->


  <!-- latest page -->
  <!-- <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="step-first-wrap">
          <h3>Let's set up your Listing</h3>
          <div class="step-first-row">
            <ul class="project-step-listing">
              <li>
                <label class="cust-chk">
                  <input type="checkbox" />
                  <span class="txt">Location</span>

                </label>
              </li>

              <li>
                <label class="cust-chk">
                  <input type="checkbox" />
                  <span class="txt">Building</span>

                </label>
              </li>

              <li>
                <label class="cust-chk">
                  <input type="checkbox" />
                  <span class="txt">Amenities</span>

                </label>
              </li>

              <li>
                <label class="cust-chk">
                  <input type="checkbox" />
                  <span class="txt">House Rules</span>

                </label>
              </li>

              <li>
                <label class="cust-chk">
                  <input type="checkbox" />
                  <span class="txt">Photos</span>

                </label>
              </li>

              <li>
                <label class="cust-chk">
                  <input type="checkbox" />
                  <span class="txt">Title</span>

                </label>
              </li>
              <li>
                <label class="cust-chk">
                  <input type="checkbox" />
                  <span class="txt">Availability</span>

                </label>
              </li>

              <li>
                <label class="cust-chk">
                  <input type="checkbox" />
                  <span class="txt">Pricing</span>

                </label>
              </li>

              <li>
                <label class="cust-chk">
                  <input type="checkbox" />
                  <span class="txt">Review</span>

                </label>
              </li>

            </ul>

            <div class="button-wrap">
              <button class="btn submit-btn">
                Continue
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  
<!-- </section> -->
