agm-map {
  width: 100%;
  height: 555px;
}

.marker {
  background-color: #fff;
}

.property-name {
  cursor: pointer;
}

::ng-deep .ngx-pagination {
  width: 100%;
  display: flex;
  justify-content: center;

  li {
    background-color: #F1F1F1;
    border-radius: 7px;
    color: #fff;
    margin: 0px 2px;
  }

  li.current {
    background-color: #f9537b;
  }
}

.loader {
  height: 90vh;
  width: 100%;
  display: grid;
  place-items: center;
}

.map-overlay {
  display: grid;
  width: auto;
  min-width: 80px;
  height: 30px;
  padding: 5px;
  background-color: #fff;
  border-radius: 14px;
  font-weight: bold;
  place-items: center;
  font-size: 18px;
}