<section class="kind_of_place">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="bg-white">
          <div class="col_selector p-4">
            <h3 class="fz30 mb-4">Add photos to your listing</h3>
            <p>
              Photos help guests imagine staying in your place. You can start
              with one and add more after you publish.
            </p>
            <div class="border text-center p-3 pt-4 rounded">
              <div class="row mb-4">
                <div class="col-md-6">
                  <div class="col_selector position-relative">
                    <img
                      src="assets/images/uploaded-img-1.png"
                      alt=""
                      class="img-fluid w-100"
                    />
                    <img
                      src="assets/images/delete-icon.png"
                      class="upload_delete_icon"
                      alt=""
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="col_selector position-relative">
                    <img
                      src="assets/images/uploaded-img-2.png"
                      alt=""
                      class="img-fluid w-100"
                    />
                    <img
                      src="assets/images/delete-icon.png"
                      class="upload_delete_icon"
                      alt=""
                    />
                  </div>
                </div>
              </div>
              <label for="uplaod_img" class="">
                <p class="btn upload_btn semi_font fz15">
                  <img
                    src="assets/images/upload-img.png"
                    class="me-2 fz15"
                    alt=""
                  />
                  Add another
                </p>
              </label>
              <input type="file" name="" class="d-none" id="uplaod_img" />
              <p class="fz14 medium_font text-secondary mb-4">
                or drag them in
              </p>
            </div>
          </div>
        </div>

        <a
          href=""
          class="blue_color mb-4"
          style="text-align: center; text-decoration: underline; display: block"
        >
          Preview
        </a>
        <div
          class="d-flex justify-content-between align-items-center mb-5 mt-0 bg-white back_next_part p-4"
        >
          <a
            href="javascript:void(0);"
            class="blue_color d-flex align-items-center"
            ><img src="assets/images/blue-left-arrow.png" class="me-2" alt="" />
            Back
          </a>
          <button class="btn custom_btn semi_font fz15">Next</button>
        </div>
      </div>
      <div class="col-md-5">
        <div class="col_selector m-5 p-4 bg-white right_side_content">
          <div class="mb_20">
            <img src="assets/images/idea.png" alt="" />
          </div>
          <h4 class="fz18 medium_font mb_20">Tips for quality photos</h4>
          <ul class="fz14 text-secondary">
            <li>Declutter your space</li>
            <li>Use natural daylight and avoid flash</li>
            <li>Shoot from room corners in landscape mode</li>
            <li>Balance visible floor and ceiling space</li>
            <li>Highlight special decor and amenities</li>
            <li>Add photos of every room guests can access</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
