.country-code {
  &:focus {
    box-shadow: none !important;
  };
  &::after{
    padding: 5px;
    display: block;
    line-height: 16px;
  }
}

.login_section {
  position: relative;
  z-index: 998;
}

.page-title {
  position: sticky;
  top: 0px;
  height: 60px;
  z-index: 999;
  padding: 15px 30px;
  background-color: white;
}


.otp_section {
  padding: 15px 30px;

  .otp_content {
    padding: 0px 50px;
  }
}
.or_continue_with_hr{
  width: 143px;
  margin: 5px;
}

.or_continue_with_text{
  margin-top: 8px;
}

