<!-- <section class="heading_progress d-flex align-items-center justify-content-between">
    <h4 class="fz16 medium_font mb-0">Property and guests</h4>
    <p class="fz16 medium_font blue_color mb-0"><a href="">Save</a> and <a href="">Exit</a></p>
</section>
<div class="progress custom_progress">
    <div class="progress-bar" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
</div> -->
<section class="kind_of_place">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="col_selector bg-white p-4">
                    <h3 class="fz30 mb-4 semi_font">
                        How many guests can stay?
                    </h3>
                    <p class="fz15 regular_font">
                        Make sure the beds in your place can comfortably accommodate the number of guests you choose to
                        host.
                    </p>
                    <div>
                        <div class="d-flex align-items-center justify-content-between w-75 my-4">
                            <h5 class="fz16 semi_font">Number of Guests</h5>
                            <div class="">
                                <button class="icon" (click)="numberOfGuests = numberOfGuests -1"
                                    [disabled]="numberOfGuests === 1">
                                    <img src="assets/images/minus_blue.png" class="img-fluid" alt="">
                                </button>
                                <span class="counter-text"> {{numberOfGuests}} </span>
                                <button class="icon" (click)="numberOfGuests = numberOfGuests +1">
                                    <img src="assets/images/plus_blue.png" class="img-fluid" alt="">
                                </button>
                            </div>
                        </div>

                        <div class="d-flex align-items-center justify-content-between w-75 my-4">
                            <h5 class="fz16 semi_font">Number of Bedrooms</h5>
                            <div class="">
                                <button class="icon" (click)="numberOfBedroomsIncDec('dec')"
                                    [disabled]="numberOfBedrooms === 1">
                                    <img src="assets/images/minus_blue.png" class="img-fluid mr-3" alt="">
                                </button>
                                <span class="counter-text"> {{numberOfBedrooms}} </span>
                                <button class="icon" (click)="numberOfBedroomsIncDec('inc')">
                                    <img src="assets/images/plus_blue.png" class="img-fluid ml-3" alt="">
                                </button>
                            </div>
                        </div>

                        <div class="d-flex align-items-center justify-content-between w-75 my-4">
                            <h5 class="fz16 semi_font">Number of Bathrooms</h5>
                            <div class="">
                                <button class="icon" (click)="numberOfBathrooms = numberOfBathrooms - 0.5"
                                    [disabled]="numberOfBathrooms === 1">
                                    <img src="assets/images/minus_blue.png" class="img-fluid" alt="">
                                </button>
                                <span class="counter-text"> {{numberOfBathrooms}} </span>
                                <button class="icon" (click)="numberOfBathrooms = numberOfBathrooms + 0.5">
                                    <img src="assets/images/plus_blue.png" class="img-fluid" alt="">
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4 mb-5">
                        <h4 class="fz25 semi_font">What kind of beds are there?</h4>
                    </div>

                    <!-- other beds  -->
                    <ng-container *ngFor="let count of bedRoomCountArr">
                        <div class="mb-5 d-flex align-items-center justify-content-between">
                            <div>
                                <h5 class="fz20 medium_font mb-0"> {{count===0?'Common Space': 'Bedroom'}}
                                    {{count?count: ''}}</h5>
                                <ng-container *ngFor="let bed of bedGroup[count]?.beds">
                                    <p class="fz14 regular_font mb-0">
                                        {{bedTypeObj[bed.bed_id] | titlecase}} : {{bed?.count}}
                                    </p>
                                </ng-container>
                            </div>
                            <button class="btn add_btn medium_font" *ngIf="bedGroup[count]?.isEdit"
                                (click)="editRoom(count)">
                                Edit
                            </button>
                            <button class="btn add_btn medium_font" *ngIf="!bedGroup[count]?.isEdit"
                                (click)="doneRoom(count)">
                                Done
                            </button>
                        </div>

                        <ng-container *ngIf="!bedGroup[count]?.isEdit">
                            <div *ngFor="let bed of bedGroup[count]?.beds">
                                <div class="d-flex align-items-center justify-content-between w-50 mb-3">
                                    <h5 class="fz16 semi_font">
                                        {{bedTypeObj[bed?.bed_id] | titlecase}}
                                    </h5>
                                    <div class="">
                                        <div class="">
                                            <button class="icon">
                                                <img src="assets/images/minus_blue.png" class="img-fluid"
                                                    (click)="countBedsInRoom(bed?.bed_id, count, 'dec')">
                                            </button>
                                            <span class="counter-text"> {{bed?.count}} </span>
                                            <button class="icon">
                                                <img src="assets/images/plus_blue.png" class="img-fluid"
                                                    (click)="countBedsInRoom(bed?.bed_id, count, 'inc')">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="my-4 mb-4">
                                <select class="form-select custom_form_control w-75" aria-label="Default select example"
                                    (change)="addAnotherBed($event.target.value, count)">
                                    <option selected>Add another bed</option>
                                    <option *ngFor="let bed of bedTypes" [value]="bed.id">
                                        {{bed?.bed_type |titlecase}}
                                    </option>
                                </select>
                            </div>
                        </ng-container>

                    </ng-container>

                </div>

                <div class="d-flex justify-content-between align-items-center mb-5 p-4 mt-0 back_next_part bg-white">
                    <a href="javascript:void(0);" class="blue_color d-flex align-items-center"
                        [routerLink]="[step1Route.url, encryptedPropertyId]">
                        <img src="assets/images/blue-left-arrow.png" class="me-2" alt="" />
                        Back</a>
                    <button class="btn custom_btn" *ngIf="!isNextLoading" (click)="addPropertyBeds()">Next</button>
                    <button class="btn custom_btn" *ngIf="isNextLoading">
                        Next
                        <div *ngIf="!isSavingExit" class="spinner-border text-info spinner-border-sm"></div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>