<section class="heading_progress d-flex align-items-center justify-content-between">
    <h4 class="fz16 medium_font mb-0">Property and guests</h4>
    <p class="fz16 medium_font blue_color mb-0"><a href="">Save</a> and <a href="">Exit</a></p>
</section>
<div class="progress custom_progress">
    <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<section class="kind_of_place">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="bg-white min_height88">
                    <div class="col_selector p-4">
                        <h3 class="fz30 mb-4">Add your photo</h3>
                        <div class="d-flex align-items-center">
                            <div class="w-25">
                                <img src="assets/images/Ellipse1.png" class="img-fluid" alt="" />
                            </div>
                            <div>
                                <label for="uplaod_img" class="mt-5">
                  <p class="btn upload_btn">
                    <img
                      src="assets/images/upload-img.png"
                      class="ms-2 fz15"
                      alt=""
                    />
                    Upload Photos
                  </p>
                </label>
                                <input type="file" name="" class="d-none" id="uplaod_img" />
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mb-5 p-4 back_next_part">
                        <a href="javascript:void(0);" class="blue_color d-flex align-items-center"><img src="assets/images/blue-left-arrow.png" class="me-2" alt="" /> Back
                        </a>
                        <button class="btn custom_btn">Next</button>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="col_selector m-5 p-4 bg-white right_side_content">
                    <div class="mb_20">
                        <img src="assets/images/idea.png" alt="" />
                    </div>
                    <p class="fz14 regular_font mb_20">
                        Make sure the photo clearly shows your face.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>