<section class="partner_section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div
          class="col_selector d-flex align-items-center justify-content-between"
        >
          <div class="img_part">
            <img src="assets/images/partner1.png" alt="" class="img-fluid" />
          </div>
          <div class="img_part">
            <img src="assets/images/partner2.png" alt="" class="img-fluid" />
          </div>
          <div class="img_part">
            <img src="assets/images/partner3.png" alt="" class="img-fluid" />
          </div>
          <div class="img_part">
            <img src="assets/images/partner4.png" alt="" class="img-fluid" />
          </div>
          <div class="img_part me-0">
            <img src="assets/images/partner5.png" alt="" class="img-fluid" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
