<section class="setp_one_section">
  <img src="assets/images/step_1_img.png" alt="" class="img-fluid step_1_img" />
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="step-first-wrap">
          <h3>Let's set up your Listing</h3>
          <div class="step-first-row">
            <ul class="project-step-listing">
              <li>
                <label class="cust-chk">
                  <input type="checkbox" />
                  <span class="txt" *ngIf="!encryptedPropertyId">Location</span>
                  <span class="txt" *ngIf="encryptedPropertyId" (click)="onEditGoScreen('location')">Location</span>

                </label>
              </li>

              <!-- <li>
                <label class="cust-chk">
                  <input type="checkbox" />
                  <span class="txt">Building</span>

                </label>
              </li> -->

              <li>
                <label class="cust-chk">
                  <input type="checkbox" />
                  <span class="txt" *ngIf="!encryptedPropertyId">Amenities</span>
                  <span class="txt" *ngIf="encryptedPropertyId" (click)="onEditGoScreen('amenities')">Amenities</span>

                </label>
              </li>

              <li>
                <label class="cust-chk">
                  <input type="checkbox" />
                  <span class="txt" *ngIf="!encryptedPropertyId">House Rules</span>
                  <span class="txt" *ngIf="encryptedPropertyId" (click)="onEditGoScreen('houseRules')">House Rules</span>
                </label>
              </li>

              <li>
                <label class="cust-chk">
                  <input type="checkbox" />
                  <span class="txt">Photos</span>

                </label>
              </li>

              <li>
                <label class="cust-chk">
                  <input type="checkbox" />
                  <span class="txt">Title</span>

                </label>
              </li>
              <li>
                <label class="cust-chk">
                  <input type="checkbox" />
                  <span class="txt">Availability</span>

                </label>
              </li>

              <li>
                <label class="cust-chk">
                  <input type="checkbox" />
                  <span class="txt">Pricing</span>

                </label>
              </li>

              <li>
                <label class="cust-chk">
                  <input type="checkbox" />
                  <span class="txt">Review</span>

                </label>
              </li>

            </ul>

            <div class="button-wrap">
              <button class="btn submit-btn" [routerLink]="[step1Route.url, encryptedPropertyId]">
                Continue
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>