<!-- <section class="heading_progress d-flex align-items-center justify-content-between">
    <h4 class="fz16 medium_font mb-0">Property and guests</h4>
    <p class="fz16 medium_font blue_color mb-0"><a href="">Save</a> and <a href="">Exit</a></p>
</section>
<div class="progress custom_progress">
    <div class="progress-bar" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
</div> -->
<section class="kind_of_place">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="col_selector bg-white p-4">
                    <h3 class="fz30 mb-4">Is the pin in the right place?</h3>
                    <p>
                        If needed, you can adjust the map so the pin is in the right location. Only confirmed guests
                        will see this so that they know how to get to your place.
                    </p>
                    <div class="mb-5">
                        <img src="assets/images/map-img.png" class="img-fluid" alt="" />
                        <p class="medium_font mt-2">
                            A-121, Sec-63 Noida, Utter Pradesh 201301
                        </p>
                    </div>
                </div>

                <div class="d-flex justify-content-between align-items-center mb-5 p-4 mt-0 back_next_part">
                    <a href="javascript:void(0);" class="blue_color d-flex align-items-center"
                        [routerLink]="[step3Route.url, encryptedPropertyId]">
                        <img src="assets/images/blue-left-arrow.png" class="me-2" alt="" /> Back
                    </a>
                    <button class="btn custom_btn" *ngIf="!isNextLoading" (click)="addPropertyLocation()">
                        Yes that's Right
                    </button>
                    <button class="btn custom_btn" *ngIf="isNextLoading">
                        Yes that's Right
                        <div class="spinner-border text-info spinner-border-sm"></div>
                    </button>
                </div>
                <!-- <div class="d-flex justify-content-between bg-white align-items-center mb-5 mt-0 p-4 back_next_part">
                    <a href="javascript:void(0);" class="blue_color d-flex align-items-center"
                        routerLink="{{step3Route.url}}">
                        <img src="assets/images/blue-left-arrow.png" class="me-2" alt="" /> Back
                    </a>
                    <button class="btn custom_btn" routerLink="{{step5Route.url}}">Yes that's Right</button>
                </div> -->
            </div>
            <div class="col-md-5">
                <div class="col_selector m-5 p-4 bg-white right_side_content">
                    <div class="mb_20">
                        <img src="assets/images/idea.png" alt="" />
                    </div>
                    <h4 class="fz18 medium_font mb_20">
                        Noida is popular with travellers right now
                    </h4>
                    <p class="fz14">
                        In the last 90 days, 286% more people than usual are looking to stay in your area. As you set up
                        your listing, you'll find tips based on local travel trends to help you get booked.
                        <br />
                        <i>Based on recent booking trends in your area</i>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>