<section class="kind_of_place">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="bg-white">
          <div class="col_selector p-4">
            <h3 class="fz30 mb-4">Add your mobile number</h3>
            <p class="medium_font mb-5">
              We’ll send you booking requests, reminders, and other notifications. This number should be able to receive
              texts or calls.
            </p>
            <form [formGroup]="userPhoneNumberForm">
              <div class="form-group mb-4">
                <select class="form-select custom_form_control" aria-label="Default select example"
                  formControlName="country_code">
                  <option *ngFor="let cc of countryCodes" [value]="cc.code">
                    {{cc.code}} &nbsp; | &nbsp; {{cc.name}} </option>
                </select>
              </div>
              <div class="form-group mb-4">
                <div class="d-flex border align-items-center">
                  <!-- <select class="form-control custom_form_control border-0 w-10 pe-0"
                    aria-label="Default select example">
                    <option selected>+91</option>
                    <option value="1">India(+91)</option>
                    <option value="2">India(+91)</option>
                    <option value="3">India(+91)</option>
                  </select>| -->
                  <input type="text" class="form-control custom_form_control border-0 w-90 pe-0" name="" id="" formControlName="phone_number" (input)="onPhoneNumberChange($event.target.value)"/>
                  <span class="blue_color w-10" (click)="sendOtp()" *ngIf="!isOtpSend && !isOtpVerified">Verify</span>
                  <span class="blue_color w-10" (click)="sendOtp()" *ngIf="isOtpVerified">Verified</span>
                </div>
              </div>
            </form>
            <ng-container *ngIf="isOtpSend">
              <div class="text-secondary">
                <h3 class="fz25 mb-3 semi_font">Enter your security code</h3>
                <p class="fz15 regular_font">
                  We texted your code to +91 89XX-XXXX-XX. It may take a minute to
                  arrive.
                </p>
              </div>
              <div class="d-flex w-50">
                <!-- <input type="text" name=""
                  class="form-control me-3 border-0 border-bottom rounded-0 text-center security_input" id="" />
                <input type="text" name=""
                  class="form-control me-3 border-0 border-bottom rounded-0 text-center security_input" id="" />
                <input type="text" name=""
                  class="form-control me-3 border-0 border-bottom rounded-0 text-center security_input" id="" />
                <input type="text" name=""
                  class="form-control me-3 border-0 border-bottom rounded-0 text-center security_input" id="" /> -->

                <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)" [config]="config"></ng-otp-input>
              </div>
              <div class="mt-4">
                <p class="fz15 medium_font text-secondary">
                  Didn’t get it?
                  <a href="javascript:void(0);" class="blue_color" (click)="sendOtp()"><u>Try again</u></a>
                </p>
              </div>
            </ng-container>

            <h3 class="fz30 mb-4">Add Another mobile number</h3>

            <form [formGroup]="secPhoneNumberForm">
              <div class="form-group mb-4">
                <select class="form-select custom_form_control" aria-label="Default select example"
                  formControlName="country_code">
                  <option *ngFor="let cc of countryCodes" [value]="cc.code">
                    {{cc.code}} &nbsp; | &nbsp; {{cc.name}} </option>
                </select>
              </div>
              <div class="form-group mb-4">
                <div class="d-flex border align-items-center">
                  <input type="text" class="form-control custom_form_control border-0 w-100 pe-0" name="" id="" formControlName="sec_phone_number"/>
                </div>
              </div>
            </form>

          </div>
          <hr />
          <div class="d-flex justify-content-between align-items-center mb-5 p-4 mt-0 back_next_part">
            <a href="javascript:void(0);" class="blue_color d-flex align-items-center"
              [routerLink]="[step12Route.url, encryptedPropertyId]">
              <img src="assets/images/blue-left-arrow.png" class="me-2" alt="" /> Back
            </a>
            <button class="btn custom_btn" *ngIf="!isNextLoading" (click)="addSecPhoneNumber()" [disabled]="userPhoneNumberForm.invalid || !isOtpVerified">
              Next
            </button>
            <button class="btn custom_btn" *ngIf="isNextLoading">
              Next
              <div class="spinner-border text-info spinner-border-sm"></div>
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="col_selector m-5 p-4 bg-white right_side_content">
          <div class="mb_20">
            <img src="assets/images/idea.png" alt="" />
          </div>
          <p class="fz14 regular_font mb_20">
            Coming up, we’ll ask if it’s OK for guests to use this number to
            contact you. If it’s not OK, you can add another number for guests
            to use.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>