<section class="kind_of_place">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="bg-white">
                    <div class="col_selector p-4">
                        <h3 class="fz30 mb-3">Review Roomz’s guest requirements</h3>
                        <p class="medium_font mb-3 text-secondary">
                            Roomz has requirements that all guests must meet before booking.
                        </p>
                        <div class="mb-2">

                            <ul class="list-unstyled">

                                <li class="mb-3" *ngIf="isEmailConfirmed">
                                    <img src="assets/images/tick.png" class="me-2" alt="" /> Confirmed email address
                                </li>

                                <li class="mb-3" *ngIf="isPhoneConfirmed">
                                    <img src="assets/images/tick.png" class="me-2" alt="" /> Confirmed phone number
                                </li>
                                <li class="mb-3" *ngIf="isPaymentInformation">
                                    <img src="assets/images/tick.png" class="me-2" alt="" /> Payment information
                                </li>
                                <li class="mb-3" *ngIf="isAgreeHR">
                                    <img src="assets/images/tick.png" class="me-2" alt="" /> Agree to your House rules
                                </li>
                                <li class="mb-3" *ngIf="isTripPurpose">
                                    <img src="assets/images/tick.png" class="me-2" alt="" /> Tell you their trip purpose
                                </li>
                                <li class="mb-3" *ngIf="isIdSubmitted">
                                    <img src="assets/images/tick.png" class="me-2" alt="" /> Government-issued ID
                                    submitted to Roomz
                                </li>
                                <li class="mb-3" *ngIf="isRecommendedFromOH">
                                    <img src="assets/images/tick.png" class="me-2" alt="" /> Recommended by other hosts
                                    and have no negative reviews
                                </li>
                            </ul>
                        </div>
                    </div>
                    <hr />
                    <div class="mb-4 p-4">
                        <div class="d-flex justify-content-between">
                            <h4 class="fz18 medium_font mb-3">Additional requirements</h4>
                            <a class="edit-text color-blue" style="cursor: pointer;" (click)="editRequirements()">
                                Edit
                            </a>
                        </div>


                        <div class="custom_check mb-2" *ngIf="!isEmailConfirmed">
                            <div class="form-group">
                                Confirmed email address
                            </div>
                        </div>

                        <div class="custom_check mb-2" *ngIf="!isPhoneConfirmed">
                            <div class="form-group">
                                Confirmed phone number
                            </div>
                        </div>

                        <div class="custom_check mb-2" *ngIf="!isPaymentInformation">
                            <div class="form-group">
                                Payment information
                            </div>
                        </div>

                        <div class="custom_check mb-2" *ngIf="!isAgreeHR">
                            <div class="form-group">
                                Agree to your House rules
                            </div>
                        </div>


                        <div class="custom_check mb-2" *ngIf="!isTripPurpose">
                            <div class="form-group">
                                Tell you their trip purpose
                            </div>
                        </div>
                        <div class="custom_check mb-2" *ngIf="!isIdSubmitted">
                            <div class="form-group">
                                Government-issued ID submitted to Roomz
                            </div>
                        </div>
                        <div class="custom_check mb-4" *ngIf="!isRecommendedFromOH">
                            <div class="form-group">
                                Recommended by other hosts and have no negative reviews
                            </div>
                        </div>

                    </div>

                    <div class="d-flex justify-content-between align-items-center mb-5 p-4 mt-0 back_next_part">
                        <a *ngIf="!isBack21" href="javascript:void(0);" class="blue_color d-flex align-items-center"
                            [routerLink]="[step5Route.url, encryptedPropertyId]">
                            <img src="assets/images/blue-left-arrow.png" class="me-2" alt="" /> Back
                        </a>
                        <a *ngIf="isBack21" href="javascript:void(0);" class="blue_color d-flex align-items-center"
                            [routerLink]="[step21Route.url, encryptedPropertyId]">
                            <img src="assets/images/blue-left-arrow.png" class="me-2" alt="" /> Back
                        </a>
                        <button class="btn custom_btn" *ngIf="!isNextLoading" (click)="addGuestRequirements()">
                            Next
                        </button>
                        <button class="btn custom_btn" *ngIf="isNextLoading">
                            Next
                            <div *ngIf="!isSavingExit" class="spinner-border text-info spinner-border-sm"></div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- popup  -->
<!-- <div class="modal fade" id="edit-popup" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="">
                <h4 class="modal-title" id="myModalLabel">Add more guest requirements</h4>
                <p>Only guests who meet your requirements can book instantly- everyone else must send a request.</p>
                <div class="d-flex justify-content-between toggle-wrap" style=" border-bottom: 1px solid #f2f2f2;">
                    <p>Government-issued ID</p>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="d-flex justify-content-between toggle-wrap">
                    <p>Recommendation from other host</p>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
                <button class="btn custom_btn mt-5">Next</button>
            </div>
        </div>
    </div>
</div> -->