<section
  class="heading_progress d-flex align-items-center justify-content-between"
>
  <h4 class="fz16 medium_font mb-0">Property and guests</h4>
  <p class="fz16 medium_font blue_color mb-0">Save and Exit</p>
</section>
<div class="progress custom_progress">
  <div
    class="progress-bar"
    role="progressbar"
    style="width: 40%"
    aria-valuenow="40"
    aria-valuemin="0"
    aria-valuemax="100"
  ></div>
</div>
<section class="kind_of_place">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="bg-white">
          <div class="col_selector p-4">
            <h3 class="fz30 mb-4">Liven up your listing with photos</h3>
            <p>
              Take photos using a phone or camera. Upload at least one photo to
              publish your listing and drag to reorder however you like. You can
              always add or edit your photos later.
            </p>
            <div class="">
              <textarea
                name=""
                id=""
                class="form-control b_radius_15"
                cols="30"
                rows="10"
              ></textarea>
              <p class="text-end fz15 blue_color">500 words</p>
              <p class="blue_color"><u>Add more details (optional)</u></p>
            </div>
          </div>
          <hr />
          <div
            class="d-flex justify-content-between align-items-center mb-5 mt-4 p-4"
          >
            <a
              href="javascript:void(0);"
              class="blue_color d-flex align-items-center"
              ><img
                src="assets/images/blue-left-arrow.png"
                class="me-2"
                alt=""
              />
              Back</a
            >
            <button class="btn custom_btn">Next</button>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="col_selector m-5 p-4 bg-white right_side_content">
          <h4 class="fz18 medium_font mb-4">
            Get inspiration from top-rated listings
          </h4>
          <div class="d-flex align-items-center mb-4">
            <div class="me-4 w-25">
              <img src="assets/images/bed-img.png" class="img-fluid" alt="" />
            </div>
            <div>
              <p class="fz14 medium_font mb-0">Greater Noida, Uttar Pradesh</p>
              <p class="fz14 medium_font mb-0">Private room - 1 bedroom</p>
              <div>
                <img
                  src="assets/images/star.png"
                  class="img-fluid me-2"
                  alt=""
                />
                <span class="fz12 medium_font">5.00/5</span>
              </div>
            </div>
          </div>
          <p class="fz14 regular_font text-secondary">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry .Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
