<section class="kind_of_place">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="bg-white">
                    <form [formGroup]="descForm">
                        <div class="col_selector p-4">
                            <h3 class="fz30 mb-4">Describe your place to guests</h3>
                            <p>
                                Mention the best features of your space, any special amenities like fast wifi or
                                parking,
                                and what you love about the neighbourhood.
                            </p>
                            <div class="">
                                <textarea name="" id="" class="form-control b_radius_15" cols="30" rows="10"
                                    formControlName="description" (input)="onAddDescription('description', $event.target.value)"></textarea>
                                <small class="text-danger"
                                    *ngIf="descForm.controls.description.touched && descForm.controls.description.errors?.required">Description
                                    is Required</small>
                                <small class="text-danger"
                                    *ngIf="descForm.controls.description.touched && descForm.controls.description.errors?.minlength">Description
                                    should be minimum 20 characters</small>
                                <small class="text-danger"
                                    *ngIf="descForm.controls.description.touched && descForm.controls.description.errors?.maxlength">Description
                                    should be maximum 500 characters</small>
                                <p class="text-end fz15 blue_color">500 characters</p>
                                <p class="blue_color" *ngIf="!isOptionalExtended" (click)="isOptionalExtended = true"
                                    style="cursor: pointer;">
                                    <u>Add more details (optional)</u>
                                </p>
                            </div>
                        </div>
                    </form>

                    <div class="col_sector p-4" *ngIf="isOptionalExtended">
                        <div class="mb-4">
                            <h4 class="fz18 medium_font">Your space (optional)</h4>
                            <p class="fz15 mb-3 text-secondary">
                                Describe the look and feel of your space. Point out any special design elements or
                                areas, such as a cosy reading corner or outdoor seating.
                            </p>
                            <div class="">
                                <textarea name="" id="" class="form-control b_radius_15" cols="30" rows="10"
                                    [formControl]="desc_your_space" (input)="onAddDescription('desc_your_space', $event.target.value)"></textarea>
                            </div>
                            <small class="text-danger"
                                *ngIf="desc_your_space.touched && desc_your_space.errors?.minlength">Description
                                should be minimum 20 characters</small>
                            <small class="text-danger"
                                *ngIf="desc_your_space.touched && desc_your_space.errors?.maxlength">Description
                                should be maximum 500 characters </small>
                        </div>

                        <div class="mb-4">
                            <h4 class="fz18 medium_font">
                                Your interaction with guests (optional)
                            </h4>
                            <p class="fz15 mb-3 text-secondary">
                                Share how available you'll be during a guest’s stay. For your safety, don't share
                                your
                                phone number or email until a reservation is confirmed.
                            </p>
                            <div class="">
                                <textarea name="" id="" class="form-control b_radius_15" cols="30" rows="10"
                                    [formControl]="desc_interaction_guests" (input)="onAddDescription('desc_interaction_guests', $event.target.value)"></textarea>
                                <small class="text-danger"
                                    *ngIf="desc_interaction_guests.touched && desc_interaction_guests.errors?.minlength">Description
                                    should be minimum 20 characters</small>
                                <small class="text-danger"
                                    *ngIf="desc_interaction_guests.touched && desc_interaction_guests.errors?.maxlength">Description
                                    should be maximum 500 characters </small>
                            </div>
                        </div>
                        <div class="mb-4">
                            <h4 class="fz18 medium_font">Your neighbourhood (optional)</h4>
                            <p class="fz15 mb-3 text-secondary">
                                Share what makes your neighbourhood special, such as the vibe, nearby cafés, a
                                unique
                                landmark, or a walkable destination.
                            </p>
                            <div class="">
                                <textarea name="" id="" class="form-control b_radius_15" cols="30" rows="10"
                                    [formControl]="desc_neighbourhood " (input)="onAddDescription('desc_neighbourhood', $event.target.value)"></textarea>
                                <small class="text-danger"
                                    *ngIf="desc_neighbourhood.touched && desc_neighbourhood.errors?.minlength">Description
                                    should be minimum 20 characters</small>
                                <small class="text-danger"
                                    *ngIf="desc_neighbourhood.touched && desc_neighbourhood.errors?.maxlength">Description
                                    should be maximum 500 characters </small>
                            </div>
                        </div>
                        <div class="mb-4">
                            <h4 class="fz18 medium_font">Getting around (optional)</h4>
                            <p class="fz15 mb-3 text-secondary">
                                Add info about getting around your city or neighbourhood such as nearby public
                                transport, driving tips, or good walking routes.
                            </p>
                            <div class="">
                                <textarea name="" id="" class="form-control b_radius_15" cols="30" rows="10"
                                    [formControl]="desc_getting_around" (input)="onAddDescription('desc_getting_around', $event.target.value)"></textarea>

                                <small class="text-danger"
                                    *ngIf="desc_getting_around.touched && desc_getting_around.errors?.minlength">Description
                                    should be minimum 20 characters</small>
                                <small class="text-danger"
                                    *ngIf="desc_getting_around.touched && desc_getting_around.errors?.maxlength">Description
                                    should be maximum 500 characters</small>
                            </div>
                        </div>
                        <a href="javascript:void(0);" class="d-inline-block blue_color" *ngIf="isOptionalExtended"
                            (click)="isOptionalExtended = false"><u>Show less</u></a>
                    </div>

                    <div class="d-flex justify-content-between align-items-center mb-5 p-4 mt-0 back_next_part">
                        <a href="javascript:void(0);" class="blue_color d-flex align-items-center"
                            [routerLink]="[step9Route.url, encryptedPropertyId]">
                            <img src="assets/images/blue-left-arrow.png" class="me-2" alt="" /> Back
                        </a>
                        <button class="btn custom_btn" *ngIf="!isNextLoading" (click)="addPropertyDesc()"
                            [disabled]="descForm.invalid || desc_your_space.invalid || desc_neighbourhood.invalid || desc_getting_around.invalid || desc_interaction_guests.invalid">
                            Next
                        </button>
                        <button class="btn custom_btn" *ngIf="isNextLoading">
                            Next
                            <div *ngIf="!isSavingExit" class="spinner-border text-info spinner-border-sm"></div>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="col_selector m-5 p-4 bg-white right_side_content">
                    <h4 class="fz18 medium_font mb-4">
                        Get inspiration from top-rated listings
                    </h4>
                    <div class="d-flex align-items-center mb-4">
                        <div class="me-4 w-25">
                            <img src="assets/images/bed-img.png" class="img-fluid" alt="" />
                        </div>
                        <div>
                            <p class="fz14 medium_font mb-0">Greater Noida, Uttar Pradesh</p>
                            <p class="fz14 medium_font mb-0">Private room - 1 bedroom</p>
                            <div>
                                <img src="assets/images/star.png" class="img-fluid me-2" alt="" />
                                <span class="fz12 medium_font">5.00/5</span>
                            </div>
                        </div>
                    </div>
                    <p class="fz14 regular_font text-secondary">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry .Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>