<section class="heading_progress d-flex align-items-center justify-content-between">
    <h4 class="fz16 medium_font mb-0">Property and guests</h4>
    <p class="fz16 medium_font blue_color mb-0"><a href="">Save</a> and <a href="">Exit</a></p>
</section>
<div class="progress custom_progress">
    <div class="progress-bar" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<section class="kind_of_place">
    <div class="container">
        <div class="row">
            <div class="col-md-7 bg-white">
                <div class="col_selector bg-white mt-5 p-4">
                    <h3 class="fz30 mb-4 semi_font">Where’s your place located?</h3>
                    <p class="fz15 regular_font">
                        Guests will only get your exact address once they’ve booked a reservation.
                    </p>
                    <button class="btn add_btn my-4 d-flex align-items-center">
            <img src="assets/images/pin.png" class="me-2" alt="" /> Use current
            location
          </button>
                    <div class="my-4">
                        <label for="">Country / Region</label>
                        <select class="form-select custom_form_control" aria-label="Default select example">
              <option selected>India</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
                    </div>
                    <div class="my-4">
                        <label for="">Street</label>
                        <input type="text" name="" class="form-control custom_form_control" />
                        <p class="fz14 regular_font">House name/number + street/road</p>
                    </div>
                    <div class="my-4">
                        <label for="">Apt, suite, etc.(optional)</label>
                        <input type="text" name="" class="form-control custom_form_control" placeholder="e.g. Apt #7" />
                        <p class="fz14 regular_font">Flat, suite, building access code</p>
                    </div>
                    <div class="my-4">
                        <label for="">City</label>
                        <input type="text" name="" class="form-control custom_form_control" placeholder="e.g. San Francisco" />
                    </div>
                    <div class="my-4">
                        <label for="">State</label>
                        <select class="form-select custom_form_control" aria-label="Default select example">
                            <option selected>UP</option>
                            <option value="1">Delhi</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                            </select>
                    </div>
                    <div class="my-4">
                        <label for="">Zip / Postal Code</label>
                        <input type="text" name="" class="form-control custom_form_control" placeholder="e.g. 94103" />
                    </div>

                </div>
                <div class="d-flex justify-content-between align-items-center mb-5 p-4 mt-0 back_next_part">
                    <a href="javascript:void(0);" class="blue_color d-flex align-items-center"><img src="assets/images/blue-left-arrow.png" class="me-2" alt="" /> Back
                    </a>
                    <button class="btn custom_btn">Next</button>
                </div>
            </div>
        </div>
    </div>
</section>