<section class="kind_of_place">
  <div class="container">
    <div class="row">
      <div class="col-md-7 bg-white">
        <div class="col_selector bg-white mt-5 p-4">
          <h3 class="fz30 mb-4 semi_font">
            {{ "listProperty.address.headline" | langTranslate }}
          </h3>
          <p class="fz15 regular_font">
            {{ "listProperty.address.subHeadline" | langTranslate }}
          </p>
          <button class="btn add_btn my-4 d-flex align-items-center" (click)="getCurrentLocation()">
            <img src="assets/images/pin.png" class="me-2" alt="" />
            {{ "listProperty.address.useCurrentLocation" | langTranslate }}
          </button>
          <form [formGroup]="addressForm">
            <div class="my-4">
              <label for="" class="medium_font fz18">
                {{ "listProperty.address.country" | langTranslate }}
              </label>
              <input type="text" name="" class="form-control custom_form_control" placeholder="United State"
                formControlName="country" (input)="setRequiredError('country', $event.target.value)" />
              <small class="text-danger" *ngIf="addressForm.controls.country.touched">
                {{
                addressForm.controls.country.errors
                | validateError
                : ("listProperty.address.country" | langTranslate)
                }}
              </small>
            </div>
            <div class="my-4">
              <label for="" class="medium_font fz18">
                {{ "listProperty.address.street" | langTranslate }}
              </label>
              <input type="text" name="" class="form-control custom_form_control" formControlName="street"
                (input)="setRequiredError('street', $event.target.value)" />
              <p class="fz14 regular_font">
                {{ "listProperty.address.streetHint" | langTranslate }}
              </p>

              <p>
                <small class="text-danger" *ngIf="addressForm.controls.street.touched">
                  {{
                  addressForm.controls.street.errors
                  | validateError
                  : ("listProperty.address.street" | langTranslate)
                  }}
                </small>
              </p>
            </div>

            <div class="my-4">
              <label for="" class="medium_font fz18">
                {{ "listProperty.address.optional" | langTranslate }}
              </label>
              <input type="text" name="" class="form-control custom_form_control" placeholder="e.g. Apt #7"
                formControlName="address_optional" (input)="
                  setRequiredError('address_optional', $event.target.value)
                " />
              <p class="fz14 regular_font">
                {{ "listProperty.address.optionalHint" | langTranslate }}
              </p>

              <small class="text-danger" *ngIf="addressForm.controls.address_optional.touched">
                {{
                addressForm.controls.address_optional.errors
                | validateError
                : ("listProperty.address.optional" | langTranslate)
                }}
              </small>
            </div>

            <div class="my-4">
              <label for="" class="medium_font fz18">
                {{ "listProperty.address.city" | langTranslate }}
              </label>
              <input type="text" name="" class="form-control custom_form_control" placeholder="e.g. San Francisco"
                formControlName="city" (input)="setRequiredError('city', $event.target.value)"
                (keydown.enter)="$event.preventDefault()" autocorrect="off" autocapitalize="off" spellcheck="off"
                #search />

              <small class="text-danger" *ngIf="addressForm.controls.city.touched">
                {{
                addressForm.controls.city.errors
                | validateError
                : ("listProperty.address.city" | langTranslate)
                }}
              </small>
            </div>

            <div class="my-4">
              <label for="" class="medium_font fz18">
                {{ "listProperty.address.state" | langTranslate }}
              </label>
              <input type="text" name="" class="form-control custom_form_control" placeholder="e.g. CA"
                formControlName="state" (input)="setRequiredError('state', $event.target.value)" />

              <small class="text-danger" *ngIf="addressForm.controls.state.touched">
                {{
                addressForm.controls.state.errors
                | validateError
                : ("listProperty.address.state" | langTranslate)
                }}
              </small>
            </div>

            <div class="my-4">
              <label for="" class="medium_font fz18">
                {{ "listProperty.address.zipCode" | langTranslate }}
              </label>
              <input type="text" name="" class="form-control custom_form_control" placeholder="e.g. 94103"
                formControlName="zip_code" (input)="setRequiredError('zip_code', $event.target.value)" id="pincode"/>

              <small class="text-danger" *ngIf="addressForm.controls.zip_code.touched">
                {{
                addressForm.controls.zip_code.errors
                | validateError
                : ("listProperty.address.zipCode" | langTranslate)
                }}
              </small>
            </div>
          </form>
        </div>
        <div class="d-flex justify-content-between align-items-center mb-5 p-4 mt-0 back_next_part">
          <a href="javascript:void(0);" class="blue_color d-flex align-items-center"
            [routerLink]="[step2Route.url, encryptedPropertyId]">
            <img src="assets/images/blue-left-arrow.png" class="me-2" alt="" />
            Back
          </a>
          <button class="btn custom_btn" *ngIf="!isNextLoading" (click)="addAddress()" [disabled]="addressForm.invalid">
            Next
          </button>
          <button class="btn custom_btn" *ngIf="isNextLoading">
            Next
            <div class="spinner-border text-info spinner-border-sm"></div>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>