<section
  class="heading_progress d-flex align-items-center justify-content-between"
>
  <h4 class="fz16 medium_font mb-0">Property and guests</h4>
  <p class="fz16 medium_font blue_color mb-0">Save and Exit</p>
</section>
<div class="progress custom_progress">
  <div
    class="progress-bar"
    role="progressbar"
    style="width: 40%"
    aria-valuenow="40"
    aria-valuemin="0"
    aria-valuemax="100"
  ></div>
</div>
<section class="kind_of_place">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="bg-white">
          <div class="col_selector p-4">
            <h3 class="fz30 mb-4">Review your guest requirements</h3>
            <p class="medium_font mb-5 text-secondary">
              Guests can only book without sending a request if they meet all
              your requirements and agree to your house rules.
            </p>
            <div class="mb-4">
              <div
                class="d-flex align-items-center justify-content-between mb-3"
              >
                <h4 class="fz18 medium_font">Roomz's guest requirements</h4>
                <a href="javascript:void(0);" class="blue_color">Review</a>
              </div>
              <ul class="list-unstyled">
                <li class="mb-3">
                  <img src="assets/images/tick.png" class="me-2" alt="" /> Email
                  address
                </li>
                <li class="mb-3">
                  <img src="assets/images/tick.png" class="me-2" alt="" />
                  Confirmed phone number
                </li>
                <li class="mb-3">
                  <img src="assets/images/tick.png" class="me-2" alt="" />
                  Payment information
                </li>
                <li class="mb-3">
                  <img src="assets/images/tick.png" class="me-2" alt="" />
                  A message about the guest’s trip
                </li>
                <li class="mb-3">
                  <img src="assets/images/tick.png" class="me-2" alt="" />
                  A message about the guest’s trip
                </li>
              </ul>
            </div>
            <div class="">
              <div
                class="d-flex align-items-center justify-content-between mb-3"
              >
                <h4 class="fz18 medium_font">Your additional requirements</h4>
                <a href="javascript:void(0);" class="blue_color">Edit</a>
              </div>
              <ul class="list-unstyled">
                <li class="mb-3">
                  <img src="assets/images/tick.png" class="me-2" alt="" /> Agree
                  Government-issued ID submitted to Roomz
                </li>
              </ul>
            </div>
            <div class="">
              <div
                class="d-flex align-items-center justify-content-between mb-3"
              >
                <h4 class="fz18 medium_font">Your House Rules</h4>
                <a href="javascript:void(0);" class="blue_color">Edit</a>
              </div>
              <ul class="list-unstyled">
                <li class="mb-3">
                  <img src="assets/images/tick.png" class="me-2" alt="" />
                  Smoking allowed
                </li>
                <li class="mb-3">
                  <img src="assets/images/tick.png" class="me-2" alt="" />
                  Suitable for pets
                </li>
                <li class="mb-3">
                  <img src="assets/images/tick.png" class="me-2" alt="" />
                  Suitable for children (2-12 years)
                </li>
                <li class="mb-3">
                  <img src="assets/images/tick.png" class="me-2" alt="" />
                  Must climb stairs
                </li>
                <li class="mb-3">
                  <img src="assets/images/tick.png" class="me-2" alt="" />
                  Pet(s) live on property
                </li>
              </ul>
            </div>
          </div>
          <hr />
          <div
            class="d-flex justify-content-between align-items-center mb-5 mt-4 p-4"
          >
            <a href="javascript:void(0);" class="blue_color">Back</a>
            <button class="btn custom_btn">Next</button>
          </div>
        </div>
      </div>
      <div class="col-md-5 d-flex align-items-center">
        <div class="col_selector m-5 p-4 bg-white">
          <div class="mb_20">
            <img src="assets/images/idea.png" alt="" />
          </div>
          <p class="fz14 regular_font mb_20">
            Guests will only be able to book instantly with you if they meet all
            these requirements and agree to your House Rules.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
