<div class="modal-body p-0" *ngIf="!isCongrats">
  <section class="p-3">
    <div class="">
      <div class="text-center">
        <h3 class="fz24 mb-0 semi_font">Add a profile photo</h3>
      </div>
      <hr />
      <div class="">
        <div class="mb-5 mt-4">
          <p class="mb_20 text-center">
            Pick an image that shows your face. Hosts won't be able to see your profile photo until your reservation
            is confirmed.
          </p>
          <div class="mb-5 pb-5 mt-5 text-center">
            <img src="assets/images/profile2121.png" class="img-fluid" alt="" />
          </div>
        </div>
        <button class="btn login_btn mb-3">CONTINUE</button>
        <button class="btn login_btn mb_20 border bg-transparent text-secondary" (click)="goCongratulations()">
          Skip for this
        </button>
      </div>
    </div>
  </section>
</div>

<div *ngIf="isCongrats">
  <app-congratulations [dialogRef]="dialogRef"></app-congratulations>
</div>