<div class="modal-body p-0" *ngIf="!isCongrats">
  <section class="p-3">
    <div class="">
      <div class="text-center">
        <h3 class="fz20 mb-0 semi_font">
          {{ "signUp.addPhoto.addAProfilePhoto" | langTranslate }}
        </h3>
      </div>
      <hr />
      <div class="">
        <div class="mb-5 mt-4">
          <p class="mb_20 text-center fz15 medium_font">
            {{ "signUp.addPhoto.line1" | langTranslate }}
          </p>
          <div class="mb-5 pb-5 mt-5 text-center">
            <img *ngIf="!selectedProfilePhoto" src="assets/images/profile2121.png" class="img-fluid" alt=""
              (click)="photo.click()" style="cursor: pointer;" />
            <img *ngIf="selectedProfilePhoto" [src]="selectedProfilePhoto" class="img-fluid profile-photo" alt="" />
          </div>
        </div>
        <input type="file" accept="image/png, image/jpeg" #photo style="display: none;"
          (change)="selectProfilePhoto($event)">
        <button *ngIf="!selectedProfilePhoto" class="btn login_btn mb-3 semi_font fz16" disabled>
          {{ "signUp.addPhoto.continueBtnText" | langTranslate }}
        </button>
        <button *ngIf="selectedProfilePhoto" class="btn login_btn mb-3 semi_font fz16" (click)="updateProfilePhoto()">
          {{ "signUp.addPhoto.continueBtnText" | langTranslate }}
          <div *ngIf="isLoading" class="spinner-border text-info spinner-border-sm"></div>
        </button>
        <button class="btn login_btn mb_20 border bg-transparent text-secondary" (click)="goCongratulations()">
          {{ "signUp.addPhoto.skipForNowBtnText" | langTranslate }}
        </button>
      </div>
    </div>
  </section>
</div>

<div *ngIf="isCongrats">
  <app-congratulations [dialogRef]="dialogRef"></app-congratulations>
</div>