<section class="rentout_section">
  <div class="container">
    <div class="row bg-white">
      <div class="col-md-5">
        <div class="col_selector rent_out_part">
          <h4 class="fz30 medium_font mb-4">Rent out your spare room</h4>
          <p class="fz15 medium_font mb-0">
            Earn extra income renting out your spare room to professionals,
            international students and tourists looking for nightly, weekly and
            monthly stays.
          </p>
          <button class="btn w-100 medium_font">Learn more...</button>
        </div>
      </div>
      <div class="col-md-7 px-md-0">
        <div class="col_selector">
          <img src="assets/images/rent-out-image.png" class="w-100" alt="" />
        </div>
      </div>
    </div>
    <hr class="my-5" />
    <div class="row">
      <div class="col-md-6">
        <div class="col_selector me-4">
          <img src="assets/images/video-img.png" class="w-100" alt="" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="col_selector mt-3">
          <h4 class="fz28 medium_font mb-4">
            Experience a home away from home
          </h4>
          <p class="fz15 medium_font">
            Lorem Ipsum has been the industry's standard dummy text ever since
            the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only
            five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
