<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="col_selector">
          <h3 class="fz18 semi_font">COMPANY</h3>
          <ul class="list-unstyled text-white">
            <li class="mb-3">About Us</li>
            <li class="mb-3">Press</li>
            <li class="mb-3">Become an Affiliate</li>
            <li class="mb-3">Work with us</li>
            <li class="mb-3">Contact Us</li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="col_selector">
          <h3 class="fz18 semi_font">EXPLORE</h3>
          <ul class="list-unstyled text-white">
            <li class="mb-3">Blog</li>
            <li class="mb-3">Find Guests</li>
            <li class="mb-3">Inspire me</li>
            <li class="mb-3">Invite Friends</li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="col_selector">
          <h3 class="fz18 semi_font">CUSTOMER SERVICE</h3>
          <ul class="list-unstyled text-white">
            <li class="mb-3">Need Help?</li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="col_selector">
          <h3 class="fz18 semi_font">GET SOCIAL</h3>
          <div class="d-flex align-items-center">
            <img src="assets/images/facebook-icon.png" class="me-2" alt="" />
            <img src="assets/images/twitter-icon.png" class="me-2" alt="" />
            <img src="assets/images/linkedin-icon.png" class="me-2" alt="" />
            <img src="assets/images/youtube-icon.png" class="me-2" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="py-3">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center justify-content-between">
          <h3 class="fz14 medium_font mb-0">© Roomz. All Right Reserved.</h3>
          <div>
            <p class="mb-0 fz14 medium_font">
              <a href="javascript:void(0);">Terms and Conditions</a> |
              <a href="javascript:void(0);">Privacy Policy</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
